<div id="forgot" data-role="page" data-theme=''>
    <div data-role="header" data-tap-toggle="false" data-theme='b' class="ui-header ui-bar-b">
        <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
        <a href='#/' data-role="none"><i id="header-menu-icon" class="fa fa-arrow-left" style="color: rgba(255,255,255,0.65);"></i></a>
        <h1 class="header-title languagespecificHTML" id="app_name">Cazasteroides</h1>
    </div>
    <div data-role="content">
        <div data-role="none" class="luke-text-box luke-text-box-a align-center">
            <h2 id="forgot_title" class="languagespecificHTML">
                I've forgot my password
            </h2>
            <p id="forgot_description" class="languagespecificHTML" style="margin:auto 5px 20px 5px">
                Please give us the email you used and we will send you a new password.
            </p>


            <!--label class="align-center languagespecificHTML" id="email_">XXX</label-->
            <input  class="luke-input languageSpecificPlaceholder" id="email_forgot_txt" data-corners="false" type="email" required
                    value="" data-clear-btn="true" placeholder="Type email..." style="text-transform:none">


            <button id="send_forgot_btton" class="luke-button languagespecificHTML" style="margin-top: 20px" >Send</button>
        </div> 
    </div>
    <div data-role="footer" data-theme="none" data-border="false" data-inner="true">
        <p>Cazasteroides <span id="copyrightYear"></span><span class="float-right">All rights reserved.</span></p>
    </div>
</div>
