<div id="vote" data-role="page" data-theme=''>
    <div data-role="header" data-tap-toggle="false" data-theme='c' class="ui-header ui-bar-b">
        <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
        <a href='#/cazast-main' data-role="none"><i id="header-menu-icon" class="fa fa-arrow-left" style="color: rgba(255,255,255,0.65);"></i></a>
        <a ng-show="vote_loading === false;" class="navbar-brand" id="navbar-right-button" role="button" ng-click="getObservationRand()">
            <img ng-src="img/loading.png" style="width:22px;padding-top:1px;-webkit-filter:invert(100%)">
        </a>
        <h1 class="header-title languagespecificHTML" id="vote_title">Votar Observaciones</h1>
    </div>
    <div data-role="content">

        <div id="obslist"></div>
        <div ng-show="vote_loading === true;" >
            <div class="loading_page"></div>
        </div>
        <div ng-show="vote_error == true" >
            <p class="modal-title languagespecificHTML" id="server_error_vote" style="padding: 50px">Se ha producido un error cargando las detecciones. Intentelo en unos momentos.</p>
        </div>
        <div ng-show="vote_empty === true;" >
            <p class="modal-title languagespecificHTML" id="without_vote_detections" style="padding: 50px">No hay detecciones para votar</p>
            <p class="modal-title languagespecificHTML" id="without_vote_detections_info" style="padding: 50px">
                Cuando los demas usuarios envien detecciones, podras votarlas en esta sección.</p>
        </div>
    </div>
    <div data-role="footer" data-theme="none" data-border="false" data-inner="true">
        <p>Cazasteroides <span id="copyrightYear"></span><span class="float-right">All rights reserved.</span></p>
    </div>
</div>
