<div id="premios" data-role="page" data-theme=''>
    <div data-role="header" data-tap-toggle="false" data-theme='c' class="ui-header ui-bar-b">
        <a href='#/cazast-main' data-role="none"><i id="header-menu-icon" class="fa fa-arrow-left" style="color: rgba(255,255,255,0.65);"></i></a>
        <a ng-show="myDetections_loading === false;" class="navbar-brand" id="navbar-right-button" role="button" ng-click="refreshMyDetections()">
            <img ng-src="img/loading.png" style="width:22px;padding-top:1px;-webkit-filter:invert(100%)">
        </a>
        <h1 class="header-title languagespecificHTML" id="my_detections_title">Mis Detecciones</h1>
    </div>
    <div data-role="content">

        <div id="detectionlist"></div>

        <div ng-show="myDetections_loading == true" >
            <div class="loading_page"></div>
        </div>
        <div ng-show="myDetections_error == true" >
            <p class="modal-title languagespecificHTML" id="server_error_my_detections" style="padding: 50px">Se ha producido un error cargando las detecciones</p>
        </div>
        <div ng-show="myDetections_empty == true" >
            <p class="modal-title languagespecificHTML" id="without_my_detections" style="padding: 50px">Aún no has enviado ninguna detección.</p>
            <p class="modal-title languagespecificHTML" id="without_my_detections_info" style="padding: 50px">
                Cuando realizas alguna detección puedes comprobar su estado en esta sección.</p>
        </div>

    </div>
    <div data-role="footer" data-theme="none" data-border="false" data-inner="true">
        <p>Cazasteroides <span id="copyrightYear"></span><span class="float-right">All rights reserved.</span></p>
    </div>
</div>
