<div id="login" data-role="page" data-theme='c'>
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='b' class="ui-header ui-bar-b">
        <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>-->
        <a ng-show="inLoginProcess === true;" class="navbar-brand" id="navbar-right-button" role="button">
            <img ng-src="images/owl.loader.gif" style="width:22px;padding-top:1px;-webkit-filter:invert(100%)">
        </a>
        <h1 class="header-title languagespecificHTML" id="app_name">Cazasteroides</h1>
        <!--<a href='#about' data-role="none" id="a-right-sidebar">
          <img src="images/right-menu-icon.png" alt="sidebar" id="header-search-icon" />
        </a>-->
    </div>

    <div class="content-login" data-role="content">
        <div data-role="none" class="luke-text-box luke-text-box-a align-center">
            <h3 class="luke-text-box-title languagespecificHTML" id="login">Login</h3>
            <input class="luke-input languageSpecificPlaceholder"  id="user_login_txt" data-corners="false" type="text"
                   value="" data-clear-btn="true" placeholder="User" style="text-transform:none">
            <input class="luke-input languageSpecificPlaceholder" id="pass_login_txt" data-corners="false" type="password"
                   value="" data-clear-btn="true" placeholder="password" style="text-transform:none">
            <div class="align-center">
                <a id="forgot_button" href="#/cazast-forgot" data-role="none" class="languagespecificHTML" style="color: black;display: inline-block" >I've forgotten my password</a>
                <a id="login_button" href="#tools" data-role="none" class="luke-button luke-button-a languagespecificHTML login_button"  >Login</a>
            </div>
            <!--<input id="user_login_txt" data-role="none" type="text" class="luke-input" style="margin: 0 auto 10px;" placeholder="User" />
            <input id="pass_login_txt" data-role="none" type="password" class="luke-input" style="margin: 0 auto 10px;" data-theme="a" placeholder="password" />-->
            <div class="align-center" style="margin-top: 30px;">
                <a id="gosignup_button" href="#/cazast-signup" data-role="none" class="luke-button languagespecificHTML"  style="display: block; max-width: 400px;margin: auto auto 5px auto" >Sign Up</a>
                <a id="facebook_button" href="#" data-role="none" class="luke-button"  style="display: block; max-width: 400px;margin: auto auto 5px auto" >Facebook</a>
            </div>
            <!--<a id="gloria_button" href="#" data-role="none" class="luke-button luke-button-a "  >Gloria</a>-->
        </div>
        <!--img src="images/logo_MINECO_FECYT_Web.jpg"/-->

    </div>
    <div class="footer-login" data-role="footer" data-theme="none" data-border="false" data-inner="true">
        <div class="main-container">
            <div class="fixer-container">
                <div class="group-images align-center" >
                    <div class="image-left">
                        <img src="images/LogoMineco.jpg" alt="bag" />
                    </div>
                    <div class="image-right">
                        <img src="images/LogoFecyt.jpg" alt="pen" />
                    </div>
                </div>
                <p>Cazasteroides <span id="copyrightYear"></span><span class="float-right">All rights reserved.</span></p>
            </div>
        </div>
    </div>
</div>
