<div id="mainpage" data-role="page">

    <div data-role="panel" data-display="push" id="sidebar" data-theme="c" style="z-index: 1002">
        <h4 class=" languagespecificHTML" id="app_name">Cazasteroides</h4>
        <ul data-role="listview" id="sidelistview" class="ui-listview">
            <li data-icon='false'><i class="fa fa-thumbs-up"></i><a id="sidemenu_vote" data-fajax="false" href="#/cazast-vote" class="languagespecificHTML">Vota observaciones</a></li>
            <li data-icon='false'><i class="fa fa-shield"></i><a id="sidemenu_premio" data-ajax="false" href="#/cazast-ranking" class="languagespecificHTML">Premios</a></li>
            <li data-icon='false'><i class="fa fa-user"></i><a id="sidemenu_about" data-ajax="false" href="#/cazast-me" class="languagespecificHTML">Mi cuenta</a></li>
            <li data-icon='false'><i class="fa fa-list-alt"></i><a id="sidemenu_my_detections" data-ajax="false" href="#/cazast-my_detections" class="languagespecificHTML">Mis detecciones</a></li>
            <!--li id="tv_link" data-icon='false'><i class="fa fa-book"></i><a id="sidemenu_televirt1" data-ajax="false" href="#/televirt" class="languagespecificHTML">Telescopio Virtual1</a></li>
            <li id="tv_link2" data-icon='false'><i class="fa fa-book"></i><a id="sidemenu_televirt2" data-ajax="false" href="#/televirt2" class="languagespecificHTML">Telescopio Virtual</a></li>
            <li id="review_link" data-icon='false'><i class="fa fa-book"></i><a id="sidemenu_review" data-ajax="false" href="#/review" class="languagespecificHTML">Revisión</a></li>
            <li id="fields_link2" data-icon='false'><i class="fa fa-book"></i><a id="sidemenu_campos" data-ajax="false" href="#/fields" class="languagespecificHTML">Selec. Campos</a></li-->

            <li data-icon='false'><i class="fa fa-sign-out"></i><a id="sidemenu_exit" data-ajax="false" href="#/cazast-login" class="languagespecificHTML" onclick="logOut()">Salir</a></li>

            <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b languagespecificHTML" id="sidemenu_teleop" >Teleoperacion</li>
            <li data-icon='false'><i class="fa fa-calendar"></i><a id="sidemenu_teleop" data-ajax="false" href="#/gloria" class="languagespecificHTML">Teleoperacion</a></li>
            <!--li data-icon='false'><i class="fa fa-user-plus"></i><a id="sidemenu_register" data-ajax="false" href="#/register" class="languagespecificHTML">Registrarse</a></li-->
        </ul>

    </div>
    <!-- fin panel -->
    <div data-role="header" data-tap-toggle="false" data-theme='b' class="ui-header ui-bar-b">
        <a href='#sidebar' data-role="none" id="a-sidebar"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
        <h1 class="header-title languagespecificHTML" id="app_name">Cazasteroides</h1>
        <!--div id="nuevo_reto_button_2" style="margin: 15px 5px 0px;width: 170px;position: absolute;right: 0px;top: 0px;">
            <span id="nuevo_reto_2" class="fa fa-refresh" style="color: rgba(255,255,255,1);"></span>
        </div-->
        <span style="margin: 15px 0px 0px;width: 200px;position: absolute;right: 0px;top: 0px;">
            <div style="display: inline-block; padding: 2px 4px; margin: 0px 0px 5px; border: 1px solid rgb(204, 204, 204); text-align: center; background-color: rgb(255, 255, 255);position: absolute;right: 10px;">
                <div id="clock" style="text-decoration: none; font-size: 13px; color: rgb(0, 0, 0);"> </div>
            </div>
        </span>
    </div>

    <div data-role="content">
        <div id="main-info" class="main-info">        

            <div id="coord_div" style="position: absolute;top: 0px;left: 0px;background-color: white;padding: 5px;opacity: 1;">

            </div>

            <div style="right: 5px;bottom: 6px; width:150px; display: block;position: absolute;background: rgba(255,255,255,0.4);padding: 10px;" id="nuevo_reto_button_2">
                <a href='#' data-role="none" id="nuevo_reto_2" style="color: white;"><!--  data-toggle="tooltip" data-placement="bottom" title="Hooray!" -->
                    <span id="nevo_rete_txt" class="languagespecificHTML">Nuevo</span>
                    <span id="nuevo_reto_icon" class="fa fa-refresh" style="color: rgba(255,255,255,1);"></span>
                </a>
            </div>

            <!--div style="right: 5px;top: 6px; width:150px; display: block;position: absolute;background: rgba(255,255,255,0.4);padding: 10px;" id="search_button">
                <a href='#/cazast-main' data-role="none" id="star-search" style="color: white;">
                    <span id="header-search-txt" class="languagespecificHTML">Check&nbsp;</span>
                    <span id="header-search-icon" class="fa fa-send" style="color: rgba(255,255,255,1);"></span>
                </a>
            </div-->
        </div>
        <div  class="main-image">   
            <div id="animation_container" class="item">
                <div class="magnify" id="magnify-container">
                    <img id="animation2" class="zoom" src="assets/2.jpg" data-magnify-src="assets/2.jpg" alt="Responsive" style="position: absolute;bottom: 0px;left: 0px ;width:unset; visibility: hidden;"/>
                    <img id="animation"  src="assets/2.jpg" alt="Responsive" style="width:unset"/>
                </div>
                <div id="draggable" style="top: 5px;right: 5px; z-index: 1000;pointer-events: none;">
                    <img src="images/target.svg" height="50" width="50" alt="Kiwi standing on oval" />
                </div>

                <div id="infowindow" style="                     
                     left: 10px;
                     top: 50px;                     
                     position: absolute;
                     margin-right: auto;
                     margin-left: auto; 
                     margin-top: auto;
                     margin-bottom: auto;
                     display: block;
                     max-width: 80%;
                     background: rgba(255,255,255,0.65);
                     padding: 10px;
                     z-index: 1001" >
                </div>
            </div>
        </div>
        <!--svg id="histo" height=100px width=25px style="position: absolute;bottom: 5px;left: 5px"-->
        <!-- this is filled by snap.svg -->
        <!--/svg-->
    </div>
    <!--    <div data-role="footer" data-theme="none" data-border="false" data-inner="true">
            <p>Cazasteroides <span id="copyrightYear"></span><span class="float-right">All rights reserved.</span></p>
        </div>-->

</div>
