<div id="signup" data-role="page" data-theme=''>
    <div data-role="header" data-tap-toggle="false" data-theme='b' class="ui-header ui-bar-b">
        <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
        <a href='#/' data-role="none"><i id="header-menu-icon" class="fa fa-arrow-left" style="color: rgba(255,255,255,0.65);"></i></a>
        <h1 class="header-title languagespecificHTML" id="app_name">Cazasteroides</h1>
    </div>
    <div data-role="content">
        <div data-role="none" class="luke-text-box luke-text-box-a align-center">
            <h2 id="signup_title" class="languagespecificHTML">
                Sign Up
            </h2>
            <p id="signup_description" class="languagespecificHTML" style="margin:auto 5px 20px 5px">
                Please fill your details
            </p>

            <div data-role="fieldcontain required">
                <label class=" languagespecificHTML" id="label_username" style="display:block; float:top;">Username:</label>
                <input  class="luke-input languageSpecificPlaceholder" id="username_txt" data-corners="false" type="text" required 
                        value="" data-clear-btn="true" placeholder="Type text..." style="text-transform:none">

            </div>
            <div data-role="fieldcontain required">
                <label class=" languagespecificHTML" id="label_password" >Password</label>
                <input  class="luke-input languageSpecificPlaceholder" id="password_txt" data-corners="false" type="password" required
                        value="" data-clear-btn="true" placeholder="Type text..." style="text-transform:none">
            </div>
            <div data-role="fieldcontain required">
                <label class=" languagespecificHTML" id="label_email">Email:</label>
                <input  class="luke-input languageSpecificPlaceholder" id="email_txt" data-corners="false" type="email" required
                        value="" data-clear-btn="true" placeholder="Type text..." style="text-transform:none">
            </div>

            <button id="signup_btton" class="luke-button languagespecificHTML" style="margin-top: 20px">Send</button>
        </div>
    </div>
    <div data-role="footer" data-theme="none" data-border="false" data-inner="true">
        <p>Cazasteroides <span id="copyrightYear"></span><span class="float-right">All rights reserved.</span></p>
    </div>
</div>
