<div id="premios" data-role="page" data-theme=''>
    <div data-role="header" data-tap-toggle="false" data-theme='c' class="ui-header ui-bar-b">
        <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
        <a href='#/cazast-main' data-role="none"><i id="header-menu-icon" class="fa fa-arrow-left" style="color: rgba(255,255,255,0.65);"></i></a>
        <a ng-show="award_loading === false;" class="navbar-brand" id="navbar-right-button" role="button" ng-click="refreshAwards()">
            <img ng-src="img/loading.png" style="width:22px;padding-top:1px;-webkit-filter:invert(100%)">
        </a>
        <h1 class="header-title languagespecificHTML" id="awards_title">General Ranking</h1>
    </div>
    <div data-role="content">
        <div ng-show="award_error == false && award_empty === false;">
            <p class="languagespecificHTML align-center" id="awards_sub_title">
                Ranking de los mejores observadores
            </p>

            <div id="premioslist"></div>
        </div>
        <div ng-show="award_loading === true;" >
            <div class="loading_page"></div>
        </div>
        <div ng-show="award_error == true;" >
            <p class="modal-title languagespecificHTML" id="server_error_award" style="padding: 50px">Se ha producido un error cargando el ranking. Intentelo en unos momentos.</p>
        </div>
        <div ng-show="award_empty === true;" >
            <p class="modal-title languagespecificHTML" id="without_winners" style="padding: 50px">No hay observadores en este ranking</p>
            <!--p class="modal-title languagespecificHTML" id="without_my_detections_info" style="padding: 50px">
                Envía tus detecciones para estar en el top.</p-->
        </div>
    </div>
    <div data-role="footer" data-theme="none" data-border="false" data-inner="true">
        <p>Cazasteroides <span id="copyrightYear"></span><span class="float-right">All rights reserved.</span></p>
    </div>
</div>