<div id="me" data-role="page" data-theme=''>
    <div data-role="header" data-tap-toggle="false" data-theme='c' class="ui-header ui-bar-b">
        <a href='#/cazast-main' data-role="none"><i id="header-menu-icon" class="fa fa-arrow-left" style="color: rgba(255,255,255,0.65);"></i></a>
        <h1 class="header-title languagespecificHTML" id="my_account_title">Mi cuenta</h1>
    </div>
    <div data-role="content">
        <div id="me_content"></div>
        <div id="me_me_contests"></div>
        <div id="me_next_contests"></div>
    </div>
    <div data-role="footer" data-theme="none" data-border="false" data-inner="true" data-position="fixed">
        <p>Cazasteroides <span id="copyrightYear"></span><span class="float-right">All rights reserved.</span></p>
    </div>
</div>
