<nav class="navbar navbar-default navbar-fixed-top" id="header">
    <div class="navbar-header">
        <div class="navbar-title"><img ng-src="img/GLORIA.png"></div>
        <span class="navbar-brand"><a class="mybtn btn btn-link btn-xs" href="#/cazast-main"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>
    </div>
</nav>
<div id="principal">
    <div style="height:100px"></div>
    <a style="margin: 0 auto;display: block;max-width: 400px;width:100%;" href="#/login" type="button" class="btn btn-default btn-lg btn-block">
        <span class="languagespecificHTML" id="login" style="text-transform: uppercase;">ENTRAR</span>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </a><br>
    <a style="margin: 0 auto;display: block;max-width: 400px;width:100%;" href="#/register" type="button" class="btn btn-default btn-lg btn-block">
        <span class="languagespecificHTML" id="signup" style="text-transform: uppercase;">REGISTRARSE</span>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </a>
</div>+