<div id="principal" data-role="page">
    <div data-role="panel" data-display="push" id="sidebar" data-theme="c" data-position-fixed="true">
        <h4 class=" languagespecificHTML" id="app_name">Cazasteroides</h4>
        <ul data-role="listview" id="sidelistview" class="ui-listview">
            <li data-icon='false'><i class="fa fa-list"></i><a id="sidemenu_new_challenge" data-ajax="false" href="#/cazast-main" class="languagespecificHTML">Nuevo reto</a></li>
            <li data-icon='false'><i class="fa fa-thumbs-up"></i><a id="sidemenu_vote" data-fajax="false" href="#/cazast-vote" class="languagespecificHTML">Vota observaciones</a></li>
            <li data-icon='false'><i class="fa fa-shield"></i><a id="sidemenu_premio" data-ajax="false" href="#/cazast-ranking" class="languagespecificHTML">Premios</a></li>
            <li data-icon='false'><i class="fa fa-user"></i><a id="sidemenu_about" data-ajax="false" href="#/cazast-me" class="languagespecificHTML">Mi cuenta</a></li>
            <li data-icon='false'><i class="fa fa-list-alt"></i><a id="sidemenu_my_detections" data-ajax="false" href="#/cazast-my_detections" class="languagespecificHTML">Mis detecciones</a></li>
            <li data-icon='false'><i class="fa fa-sign-out"></i><a id="sidemenu_exit" data-ajax="false" href="#/cazast-login" class="languagespecificHTML" onclick="logOut()">Salir</a></li>
            <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b languagespecificHTML" id="sidemenu_teleop" >Teleoperacion</li>
            <li data-icon='false'><i class="fa fa-user-plus"></i><a id="sidemenu_register" data-ajax="false" href="#/register" class="languagespecificHTML">Registrarse</a></li>
        </ul>

    </div>
    <div data-role="header" data-tap-toggle="false" data-theme='b' class="ui-header ui-header-fixed ui-bar-b">
        <a href='#sidebar' data-role="none" id="a-sidebar"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
        <h1 class="header-title languagespecificHTML" id="teleoperation_title">Teleoperacion</h1>
    </div>
    <div data-role="content" class="ui-content" style="padding:0">
        <div style="height:48px"></div>
        <form>
            <button class="luke-button fa fa-user" style="position:relative;height:56px;top:2px;width:13%;font-size:24px;padding:9px;margin:0" disabled></button>
            <input id="email" ng-model="login.email" class="luke-input" name="email" type="email" placeholder="EMAIL" style="text-transform: none;display:inline-block;width:85%" required/>

            <button class="luke-button fa fa-key" style="position:relative;height:56px;top:2px;width:13%;font-size:24px;padding:9px;margin:0" disabled></button>
            <input id="password" ng-model="login.password" class="luke-input" name="password" type="password" placeholder="PASSWORD" style="text-transform: none;display:inline-block;width:85%" required/>

            <a type="submit" ng-click="login.connect()" class="luke-button">
                <div ng-switch on="login_loading">
                    <span ng-switch-when="false" class="languagespecificHTML" id="login" style="text-transform: uppercase;">LOGIN</span>
                    <div ng-switch-when="true"><img class="animate-loading" ng-src="img/loading.png" style="width:20px;margin-top:-5px"> <span class="languagespecificHTML" id="loading_">Loading...</span></div>
                </div>
            </a>
        </form>
    </div>
</div>

<!-- Modal -->
<div ng-show="login.success != null" class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div ng-if="login.success == false" class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <h3 class="modal-title languagespecificHTML" id="error_invalid_user">Error, usuario no v&aacute;lido</h3>
            </div>
            <div class="modal-footer">
                <a type="button" class="luke-button languagespecificHTML" data-dismiss="modal" ng-click="login.success = null" id="accept" style="text-transform: uppercase;">ACEPTAR</a>
            </div>
        </div>
        <div ng-if="login.success == true" class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <h2 class="modal-title languagespecificHTML" id="welcome">Bienvenido</h2>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
