<div id="principal" data-role="page">
    <div data-role="panel" data-display="push" id="sidebar" data-theme="c" data-position-fixed="true">
        <h4 class=" languagespecificHTML" id="app_name">Cazasteroides</h4>
        <ul data-role="listview" id="sidelistview" class="ui-listview">
            <li data-icon='false'><i class="fa fa-list"></i><a id="sidemenu_new_challenge" data-ajax="false" href="#/cazast-main" class="languagespecificHTML">Nuevo reto</a></li>
            <li data-icon='false'><i class="fa fa-thumbs-up"></i><a id="sidemenu_vote" data-fajax="false" href="#/cazast-vote" class="languagespecificHTML">Vota observaciones</a></li>
            <li data-icon='false'><i class="fa fa-shield"></i><a id="sidemenu_premio" data-ajax="false" href="#/cazast-ranking" class="languagespecificHTML">Premios</a></li>
            <li data-icon='false'><i class="fa fa-user"></i><a id="sidemenu_about" data-ajax="false" href="#/cazast-me" class="languagespecificHTML">Mi cuenta</a></li>
            <li data-icon='false'><i class="fa fa-list-alt"></i><a id="sidemenu_my_detections" data-ajax="false" href="#/cazast-my_detections" class="languagespecificHTML">Mis detecciones</a></li>
            <li data-icon='false'><i class="fa fa-sign-out"></i><a id="sidemenu_exit" data-ajax="false" href="#/cazast-login" class="languagespecificHTML" onclick="logOut()">Salir</a></li>
            <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b languagespecificHTML" id="sidemenu_teleop_section" >Teleoperacion</li>
            <li data-icon='false'><i class="fa fa-home"></i><a id="sidemenu_teleop_home" data-ajax="false" href="#/home">Inicio</a></li>
            <li data-icon='false'><i class="fa fa-calendar"></i><a id="sidemenu_teleop_reservations" data-ajax="false" href="#/reservations">Reservas</a></li>
            <li data-icon='false'><i class="fa fa-picture-o"></i><a id="sidemenu_teleop_images" data-ajax="false" href="#/images">Imagenes</a></li>
            <li data-icon='false'><i class="fa fa-user-times"></i><a id="sidemenu_teleop_logout" data-ajax="false" href="#/login" ng-click="login.disconnect()">Cerrar Sesion</a></li>
        </ul>
    </div>

    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='b' class="ui-header ui-header-fixed ui-bar-b">
        <a href='#sidebar' data-role="none" id="a-sidebar"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
        <a ng-hide="experiment.images == true" class="navbar-brand fa fa-info-circle" id="navbar-right-button" ng-click="getReservationInformation()" data-toggle="modal" data-target="#alert"></a>
        <a ng-hide="experiment.images == true" class="navbar-brand animate-show fa fa-picture-o" id="navbar-right-button" ng-click="experiment.images = true"></a>
        <a ng-show="experiment.images == true" class="navbar-brand animate-show" id="navbar-right-button" role="button" ng-click="loadMyImages()">
            <img ng-src="img/loading.png" style="width:22px;padding-top:1px;-webkit-filter:invert(100%)">
        </a>
        <a ng-show="experiment.images == true" class="navbar-brand animate-show fa fa-camera" id="navbar-right-button" ng-click="experiment.images = false"></a>
        <h1 class="header-title languagespecificHTML" id="teleoperation_title">Teleoperacion</h1>
    </div>

    <div class="ui-content" style="padding:0" ng-hide="experiment.images == true">
        <div style="height:48px"></div>
        <div class="progress">
            <div ng-show="experiment.remainingtime >= 40" class="progress-bar" role="progressbar" aria-valuenow="{{experiment.remainingtime}}" aria-valuemin="0" aria-valuemax="100" style="width: {{experiment.remainingtime}}%;">
                <span class="sr-only"></span>
            </div>
            <div ng-show="experiment.remainingtime < 40 && experiment.remainingtime >= 10" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{experiment.remainingtime}}" aria-valuemin="0" aria-valuemax="100" style="width: {{experiment.remainingtime}}%;">
                <span class="sr-only"></span>
            </div>
            <div ng-show="experiment.remainingtime < 10" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{experiment.remainingtime}}" aria-valuemin="0" aria-valuemax="100" style="width: {{experiment.remainingtime}}%;">
                <span class="sr-only"></span>
            </div>
        </div>

        <div ng-show="experiment.scamSelected == true">
            <nav id="experiment-nav">
                <ul class="animate-show" style="margin:0 2.5%;padding:0;max-width:95%;">
                    <li ng-switch on="ccds[0].pcont!=undefined" ng-click="experiment.cameraSelected('ccds0')" style="display:inline-block;max-width:30%;float:left">
                        <img ng-switch-when="true" ng-src="{{ccds[0].pcont}}" fallback-src="img/wn5.gif" style="max-width:100%;">
                        <img ng-switch-when="false" ng-src="img/wn5.gif" style="max-width:100%;">
                    </li>
                    <li ng-switch on="ccds[1].pcont!=undefined" ng-click="experiment.cameraSelected('ccds1')" style="display:inline-block;max-width:30%;float:right">
                        <img ng-switch-when="true" ng-src="{{ccds[1].pcont}}" fallback-src="img/wn3.gif" style="max-width:100%">
                        <img ng-switch-when="false" ng-src="img/wn3.gif" style="max-width:100%;"> 
                    </li>
                </ul>
            </nav>
            <div class="animate-show" ng-repeat="scam in scams">
                <div ng-switch on="scam.purl==undefined" style="margin:2.5%">
                    <img ng-switch-when="true" ng-src="img/wn4.gif" style="max-width: 320px; max-height: 240px">
                    <img ng-switch-when="false" ng-src="{{scam.purl}}" fallback-src="img/wn4.gif" style="max-width:95%">
                </div>
            </div>
            <nav id="experiment-list">
                <ul>
                    <li>
                        <div ng-switch on="dome_status.dome.closeEnabled">
                            <div ng-switch-when="true">
                                <img ng-click="closeDome()" ng-src="img/dome_close.png" style="padding:8px;background-color:black;border-radius:20%;height:70px">
                            </div>
                            <div ng-switch-when="false">
                                <img ng-src="img/dome_close.png" style="padding:8px;background-color:black;border-radius:20%;height:70px;opacity:0.3">
                                <span style="position:absolute"><img class="animate-loading" ng-src="img/loading.png" style="position:absolute;width:42px;top:14px;left:-56px"></span>
                            </div>
                        </div>
                        <span style="font-size:150%" class="languagespecificHTML" id="close">Close</span>
                    </li>
                    <li>
                        <div ng-switch on="dome_status.dome.openEnabled">
                            <div ng-switch-when="true">
                                <img ng-click="openDome()" ng-src="img/dome_open.png" style="padding:8px;background-color:black;border-radius:20%;height:70px">
                            </div>
                            <div ng-switch-when="false">
                                <img ng-src="img/dome_open.png" style="padding:8px;background-color:black;border-radius:20%;height:70px;opacity:0.3">
                                <span style="position:absolute"><img class="animate-loading" ng-src="img/loading.png" style="position:absolute;width:42px;top:14px;left:-56px"></span>
                            </div>
                        </div>
                        <span style="font-size:150%" class="languagespecificHTML" id="open">Open</span>
                    </li>
                </ul>
            </nav>
        </div>

        <div ng-show="experiment.ccds0Selected == true">
            <nav id="experiment-nav">
                <ul class="animate-show" style="margin:0 2.5%;padding:0;max-width:95%;">
                    <li ng-repeat="scam in scams" ng-switch on="scam.purl==undefined" ng-click="experiment.cameraSelected('scam')" style="display:inline-block;max-width:30%;float:left">
                        <img ng-src="img/wn4.gif" ng-switch-when="true" style="max-width:100%">
                        <img ng-src="{{scam.purl}}" fallback-src="img/wn4.gif" ng-switch-when="false" style="max-width:100%">
                    </li>
                    <li ng-switch on="ccds[1].pcont!=undefined" ng-click="experiment.cameraSelected('ccds1')" style="display:inline-block;max-width:30%;float:right">
                        <img ng-switch-when="true" ng-src="{{ccds[1].pcont}}" fallback-src="img/wn3.gif" style="max-width:100%">
                        <img ng-switch-when="false" ng-src="img/wn3.gif" style="max-width:100%;"> 
                    </li>
                </ul>
            </nav>
            <div id="carousel" class="carousel slide animate-show" data-ride="carousel" style="max-width:95%;margin:2.5%">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" ng-switch on="ccds[0].pcont!=undefined">
                        <img ng-switch-when="true" ng-src="{{ccds[0].pcont}}" fallback-src="img/wn5.gif">
                        <img ng-switch-when="false" ng-src="img/wn5.gif" style="width:100%">
                    </div>
                </div>

                <!-- Controls -->
                <div class="animate-show">
                    <a class="left carousel-control" data-slide="prev" style="font-size:200%">
                        <img ng-show="ccd_status.main.exposure.valueSet" ng-src="img/plus.png" ng-click="setExposureTimeValue(1.0)" style="position:absolute;left:16%;top:3%;margin:6px 8px">
                        <span id="exposureBar" class="carousel_icon" style="left:16%;top:14%;bottom:14%;width:12px;margin:15px;background-color:white;opacity:0.5"></span>
                        <img ng-show="ccd_status.main.exposure.valueSet" ng-src="img/minus.png" ng-click="setExposureTimeValue(-1.0)" style="position:absolute;left:16%;top:90%;margin-left:8px">
                        <span class="sr-only languagespecificHTML" id="previous">Previous</span>
                        <span class="carousel_icon" ng-show="ccds[0].exposure != null" ng-style="{'top':exposuretop + 'px'};" style="left:16%;margin-top:-40px;line-height:0">
                            <img ng-src="img/exposure.png" width="40px" style="margin-left:1px">
                        </span>
                        <input type="range" min="0" max="0.05" step="0.001" ng-model="ccds[0].exposure" ng-change="exposureChange(ccds[0].exposure)" 
                               ng-style="{'width':exposureBarStyle + 'px','left':-exposureBarStyle + 'px'}" style="position:absolute;transform:rotate(270deg);height:100%;opacity:0;z-index:5" />
                    </a>
                    <a class="right carousel-control" data-slide="next" style="font-size:200%">
                        <img ng-show="ccd_status.main.focuser.valueSet" ng-src="img/plus.png" ng-click="setFocuserPositionValue(1.0)" style="position:absolute;right:16%;top:3%;margin:6px 8px">
                        <span id="focuserBar" class="carousel_icon" style="right:16%;top:14%;bottom:14%;width:12px;margin:15px;background-color:white;opacity:0.5"></span>
                        <img ng-show="ccd_status.main.focuser.valueSet" ng-src="img/minus.png" ng-click="setFocuserPositionValue(-1.0)" style="position:absolute;right:16%;top:90%;margin-right:8px">
                        <span class="sr-only languagespecificHTML" id="next">Next</span>
                        <span class="carousel_icon" ng-style="{'top':focusertop + 'px'};" style="right:16%;margin-top:-40px;line-height:0">
                            <img ng-show="focuser.offset != null" ng-src="img/focus.png" width="40px" style="margin-right:1px">
                        </span>
                        <input type="range" min="0" max="2000" step="1" ng-model="focuser.offset" ng-change="focuserChange(focuser.offset)" 
                               ng-style="{'width':focuserBarStyle + 'px','left':focuserBarPosition + 'px'}" style="position:absolute;transform:rotate(270deg);height:100%;opacity:0;z-index:5" />
                    </a>
                </div>
            </div>
            <div style="width:100%;display:inline-block">
                <ul style="padding:0;width:100%;display:inline-block">
                    <li style="display:inline-block;float:left;margin:2.5%">
                        <img ng-src="img/exposure.png" ng-click="setExposureTime()" style="padding:5px;background-color:black;border-radius:20%;width:40px;">
                        <span ng-show="ccds[0].exposure != null" style="font-size: 125%;"> {{ccds[0].exposure|number:3}} s</span>
                    </li>
                    <li style="display:inline-block;float:right;margin:2.5%">
                        <span ng-show="focuser.offset != null" style="font-size: 125%">{{focuser.offset - 1000|number:0}} steps </span>
                        <img ng-src="img/focus.png" ng-click="setFocuserPosition()" style="padding:5px;background-color:black;border-radius:20%;width:40px;">
                    </li>
                </ul>
            </div>
            <div style="width:100%">
                <div ng-switch on="imageTaken">
                    <div ng-switch-when="true">
                        <img ng-click="startExposure()" ng-src="img/take.png" style="padding:8px;background-color:black;border-radius:20%;height:70px">
                    </div>
                    <div ng-switch-when="false">
                        <img ng-src="img/take.png" style="padding:8px;background-color:black;border-radius:20%;height:70px;opacity:0.3">
                        <span style="position:absolute"><img class="animate-loading" ng-src="img/loading.png" style="position:absolute;width:42px;top:14px;left:-63px"></span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="experiment.ccds1Selected == true">
            <nav id="experiment-nav">
                <ul class="animate-show" style="margin:0 2.5%;padding:0;max-width:95%;">
                    <li ng-repeat="scam in scams" ng-switch on="scam.purl==undefined" ng-click="experiment.cameraSelected('scam')" style="display:inline-block;max-width:30%;float:left">
                        <img ng-src="img/wn4.gif" ng-switch-when="true" style="max-width:100%">
                        <img ng-src="{{scam.purl}}" fallback-src="img/wn4.gif" ng-switch-when="false" style="max-width:100%">
                    </li>
                    <li ng-switch on="ccds[0].pcont!=undefined" ng-click="experiment.cameraSelected('ccds0')" style="display:inline-block;max-width:30%;float:right">
                        <img ng-switch-when="true" ng-src="{{ccds[0].pcont}}" fallback-src="img/wn5.gif" style="max-width:100%;">
                        <img ng-switch-when="false" ng-src="img/wn5.gif" style="max-width:100%;">
                    </li>
                </ul>
            </nav>

            <div id="carousel" class="carousel slide animate-show" data-ride="carousel" style="max-width:95%;margin:2.5%;margin-bottom:0">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" ng-switch on="ccds[1].pcont!=undefined">
                        <img ng-switch-when="true" ng-src="{{ccds[1].pcont}}" fallback-src="img/wn3.gif">
                        <img ng-switch-when="false" ng-src="img/wn3.gif" style="width: 100%;"> 
                    </div>
                </div>

                <!-- Controls -->
                <div style="position:absolute;width:100%;top:50%">
                    <img ng-src="img/pointer.png" width=40px style="margin-top:-24px;">
                </div>
                <div ng-show="!limits.north" style="position:absolute;top:0;background-color:transparent;width:100%;">
                    <a type="button" ng-click="moveFinder('NORTH')" style="color:white;opacity:0.5;margin-right:1px;">
                        <img ng-show="!limits.north && arrowsEnabled == true" ng-src="img/up.png" ng-click="moveFinder('NORTH')" style="width:30px">
                        <img ng-show="limits.north || arrowsEnabled == false" ng-src="img/up.png" style="width:30px;opacity:0.5">
                    </a>
                </div>
                <div>
                    <a class="left carousel-control" data-slide="prev" style="font-size:200%">
                        <img ng-show="!limits.west && arrowsEnabled == true" ng-src="img/left.png" ng-click="moveFinder('WEST')" style="position:absolute;top:50%;left:20%;height:30px;margin-top:-15px">
                        <img ng-show="limits.west || arrowsEnabled == false" ng-src="img/left.png" style="position:absolute;top:50%;left:20%;height:30px;margin-top:-15px;opacity:0.5">
                        <span class="sr-only languagespecificHTML" id="previous">Previous</span>
                    </a>
                    <a class="right carousel-control" data-slide="next" style="font-size:200%">
                        <img ng-show="!limits.east && arrowsEnabled == true" ng-src="img/right.png" ng-click="moveFinder('EAST')" style="position:absolute;top:50%;right:20%;height:30px;margin-top:-15px">
                        <img ng-show="limits.east || arrowsEnabled == false" ng-src="img/right.png" style="position:absolute;top:50%;right:20%;height:30px;margin-top:-15px;opacity:0.5">
                        <span class="sr-only languagespecificHTML" id="next">Next</span>
                    </a>
                </div>
            </div>
            <div style="position:relative;top:-31px;line-height:0;width:95%;height:31px;margin:0 2.5%">
                <a type="button" style="color:white;margin-right:1px;opacity:0.5">
                    <img ng-show="!limits.south && arrowsEnabled == true" ng-src="img/down.png" ng-click="moveFinder('SOUTH')" style="width:30px">
                    <img ng-show="limits.south || arrowsEnabled == false" ng-src="img/down.png" style="width:30px;opacity:0.5">
                </a>
            </div>
            <div ng-switch on="pointingEnabled">
                <div ng-switch-when="true">
                    <img ng-click="pointToTarget()" ng-src="img/sun-icon.png" style="padding:7px;background-color:black;border-radius:50%;height:80px">
                    <br><span style="font-size:150%" class="languagespecificHTML" id="pointing_to_sun">Apuntar al Sol</span>
                </div>
                <div ng-switch-when="false">
                    <img ng-src="img/sun-icon.png" style="padding:7px;background-color:black;border-radius:50%;height:80px;opacity:0.3">
                    <span style="position:absolute"><img class="animate-loading" ng-src="img/loading.png" style="position:absolute;width:42px;top:19px;left:-65px"></span>
                    <br><span style="font-size:150%" class="languagespecificHTML" id="pointing_to_sun_">Apuntando al Sol...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-content" style="padding:0" ng-show="experiment.images == true">
        <div style="height:48px"></div>
        <div class="progress">
            <div ng-show="experiment.remainingtime >= 40" class="progress-bar" role="progressbar" aria-valuenow="{{experiment.remainingtime}}" aria-valuemin="0" aria-valuemax="100" style="width: {{experiment.remainingtime}}%;">
                <span class="sr-only"></span>
            </div>
            <div ng-show="experiment.remainingtime < 40 && experiment.remainingtime >= 10" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{experiment.remainingtime}}" aria-valuemin="0" aria-valuemax="100" style="width: {{experiment.remainingtime}}%;">
                <span class="sr-only"></span>
            </div>
            <div ng-show="experiment.remainingtime < 10" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{experiment.remainingtime}}" aria-valuemin="0" aria-valuemax="100" style="width: {{experiment.remainingtime}}%;">
                <span class="sr-only"></span>
            </div>
        </div>
        <h3 class="languagespecificHTML" id="images">Imagenes</h3>
        <div id="experiment_images">
            <div id="carousel" class="carousel slide" data-ride="carousel" style="background-color: black;">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" ng-repeat="imagen in imagenes" ng-show="$index == images.count">
                    <div class="item active">
                        <img class="animate-show" src="{{imagen.jpg}}">
                    </div>
                </div>
                <!-- Controls -->
                <div ng-show="images.total > 1">
                    <a class="left carousel-control" ng-click="images.counter(false)" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only languagespecificHTML" id="previous">Previous</span>
                    </a>
                    <a class="right carousel-control" ng-click="images.counter(true)" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only languagespecificHTML" id="next">Next</span>
                    </a>
                    <span id="counter" class="navbar-brand">{{images.count + 1}} / {{images.total}}</span>
                </div>
            </div>
        </div>
        <div class="jumbotron center-position" id="notfound_image">
            <h3 class="languagespecificHTML" id="no_image_found">No se encontr&oacute; ninguna imagen</h3><br>
        </div>
        <div class="center-position" id="loading_image">
            <span id="loader"><img class="animate-loading" ng-src="img/loading.png"></span>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div ng-show="experiment.info == true" class="modal-content">
            <div class="modal-header">
                <h3 class="languagespecificHTML" id="experiment_details">Detalles del experimento</h3>
            </div>
            <div class="modal-body" style="font-size:125%">
                <table id="info-table">
                    <tbody>
                        <tr>
                            <td class="languagespecificHTML" id="experiment_">Experimento:</td>
                            <th>{{experiment.data.experiment}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="telescope_">Telescopio:</td>
                            <th>{{experiment.data.telescopes[0]}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="date_">Fecha:</td>
                            <th>{{experiment.data.timeSlot.begin|date:'dd / MM / yyyy'}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="schedule_">Horario:</td>
                            <th><span class="languagespecificHTML" id="from">De</span> {{experiment.data.timeSlot.begin|date:'HH:mm'}} ({{experiment.data.timeSlot.begin|date:'HH:mm':'UT'}} UT)</th>
                        </tr>
                        <tr>
                            <td></td>
                            <th><span class="languagespecificHTML" id="to">a</span> {{experiment.data.timeSlot.end|date:'HH:mm'}} ({{experiment.data.timeSlot.end|date:'HH:mm':'UT'}} UT)</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <h3 style="text-align:center" class="languagespecificHTML" id="weather">Tiempo atmosf&eacute;rico</h3>
                <ul ng-show="valuesLoaded" style="display: inline-block;width:100%;margin:0;padding:0">
                    <li style="display: inline-block;float:left;width: 49%"><div style="text-align:center;font-size:125%"><img ng-src="img/drop.png" 
                                                                                                                               style="padding:5px;background-color:black;border-radius:20%;width:40px;"><br>{{rh.value}}% RH</div>
                    </li>
                    <li style="display: inline-block;width: 49%"><div style="text-align:center;font-size:125%"><img ng-src="img/wind.png" 
                                                                                                                    style="padding:3px;background-color:black;border-radius:20%;width:40px;"><br>{{wind.value}} m/s</div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a type="button" class="luke-button languagespecificHTML" data-dismiss="modal" id="accept">Aceptar</a>
            </div>
        </div>
        <div ng-show="experiment.reservationEnd == true" class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <h2 class="modal-title languagespecificHTML" id="experiment_completed">Experimento finalizado</h2>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>