<div id="principal" data-role="page">
    <div data-role="panel" data-display="push" id="sidebar" data-theme="c" data-position-fixed="true">
        <h4 class=" languagespecificHTML" id="app_name">Cazasteroides</h4>
        <ul data-role="listview" id="sidelistview" class="ui-listview">
            <li data-icon='false'><i class="fa fa-list"></i><a id="sidemenu_new_challenge" data-ajax="false" href="#/cazast-main" class="languagespecificHTML">Nuevo reto</a></li>
            <li data-icon='false'><i class="fa fa-thumbs-up"></i><a id="sidemenu_vote" data-fajax="false" href="#/cazast-vote" class="languagespecificHTML">Vota observaciones</a></li>
            <li data-icon='false'><i class="fa fa-shield"></i><a id="sidemenu_premio" data-ajax="false" href="#/cazast-ranking" class="languagespecificHTML">Premios</a></li>
            <li data-icon='false'><i class="fa fa-user"></i><a id="sidemenu_about" data-ajax="false" href="#/cazast-me" class="languagespecificHTML">Mi cuenta</a></li>
            <li data-icon='false'><i class="fa fa-list-alt"></i><a id="sidemenu_my_detections" data-ajax="false" href="#/cazast-my_detections" class="languagespecificHTML">Mis detecciones</a></li>
            <li data-icon='false'><i class="fa fa-sign-out"></i><a id="sidemenu_exit" data-ajax="false" href="#/cazast-login" class="languagespecificHTML" onclick="logOut()">Salir</a></li>

            <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b languagespecificHTML" id="sidemenu_teleop_section" >Teleoperacion</li>
            <li data-icon='false'><i class="fa fa-home"></i><a id="sidemenu_teleop_home" data-ajax="false" href="#/home">Inicio</a></li>
            <li data-icon='false'><i class="fa fa-calendar"></i><a id="sidemenu_teleop_reservations" data-ajax="false" href="#/reservations">Reservas</a></li>
            <li data-icon='false'><i class="fa fa-picture-o"></i><a id="sidemenu_teleop_images" data-ajax="false" href="#/images">Imagenes</a></li>
            <li data-icon='false'><i class="fa fa-user-times"></i><a id="sidemenu_teleop_logout" data-ajax="false" href="#/login" ng-click="login.disconnect()">Cerrar Sesion</a></li>
        </ul>
    </div>

    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='b' class="ui-header ui-header-fixed ui-bar-b">
        <a href='#sidebar' data-role="none" id="a-sidebar"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
        <a ng-if="reservation.pendingURL == true" class="navbar-brand" id="navbar-right-button" role="button" ng-click="getPendingReservations()">
            <img ng-src="img/loading.png" style="width:22px;padding-top:1px;-webkit-filter:invert(100%)">
        </a>
        <h1 class="header-title languagespecificHTML" id="teleoperation_title">Teleoperacion</h1>
    </div>

    <div data-role="content" class="ui-content" style="padding:0">
        <div style="height:48px"></div>
        <div ng-if="reservation.anewURL == false && reservation.pendingURL == false">
            <a type="button" class="luke-button" ng-click="newReservation()" style="width:100%;text-align:left">
                NUEVA RESERVA
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="float:right;top:5px"></span>
            </a>
            <a type="button" class="luke-button" ng-click="pendingReservation()" style="width:100%;margin-top:2px;text-align:left">
                RESERVAS PENDIENTES
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="float:right;top:5px"></span>
            </a>
        </div>
        <div ng-if="reservation.anewURL == true">
            <div style="font-size:125%;padding: 10px 0 5px;" class="languagespecificHTML" id="select_experiment_">Elige un experimento:</div>
            <nav id="experiment-list">
                <ul data-toggle="buttons">
                    <li class="btn-group"><label id='experiment-option' type="button" class="luke-button btn btn-block" ng-click="setExperimentSelected('SOLAR')">
                            <input name="options" type="radio" class="languagespecificHTML" id="solar">Solar</input></label></li>
                    <li class="btn-group"><label id='experiment-option' type="button" class="luke-button btn btn-block" ng-click="setExperimentSelected('NIGHT')">
                            <input name="options" type="radio" class="languagespecificHTML" id="nightly">Nocturno</input></label></li>
                </ul>
            </nav>
            <div ng-if="experimentSelected == 'SOLAR'">
                <div style="font-size:125%;padding: 10px 0 5px;" class="languagespecificHTML" id="select_telescope_">Elige un telescopio:</div>
                <nav id="experiment-list">
                    <ul data-toggle="buttons">
                        <li class="btn-group"><label id='experiment-option' type="button" class="luke-button btn btn-block" ng-click="setTelescopeSelected('TADs')">
                                <input name="options" type="radio">TADs</input></label></li>
                    </ul>
                </nav>
            </div>
            <div ng-if="experimentSelected == 'NIGHT'">
                <div style="font-size:125%;padding: 10px 0 5px;" class="languagespecificHTML" id="select_telescope_">Elige un telescopio:</div>
                <nav id="experiment-list">
                    <ul data-toggle="buttons">
                        <li class="btn-group"><label id='experiment-option' type="button" class="luke-button btn btn-block" ng-click="setTelescopeSelected('BART')">
                                <input name="options" type="radio">BART</input></label></li>
                        <li class="btn-group"><label id='experiment-option' type="button" class="luke-button btn btn-block" ng-click="setTelescopeSelected('BOOTES-1A')">
                                <input name="options" type="radio">BOOTES-1A</input></label></li>
                        <li class="btn-group"><label id='experiment-option' type="button" class="luke-button btn btn-block" ng-click="setTelescopeSelected('BOOTES-2')">
                                <input name="options" type="radio">BOOTES-2</input></label></li>
                        <li class="btn-group"><label id='experiment-option' type="button" class="luke-button btn btn-block" ng-click="setTelescopeSelected('TADn')">
                                <input name="options" type="radio">TADn</input></label></li>
                        <li class="btn-group"><label id='experiment-option' type="button" class="luke-button btn btn-block" ng-click="setTelescopeSelected('D50')">
                                <input name="options" type="radio">D50</input></label></li>
                        <li class="btn-group"><label id='experiment-option' type="button" class="luke-button btn btn-block" ng-click="setTelescopeSelected('WATCHER')">
                                <input name="options" type="radio">WATCHER</input></label></li>
                    </ul>
                </nav>
            </div>
            <div ng-if="experimentSelected && telescopeSelected">
                <div style="display:inline-block">
                    <div style="font-size:125%;padding: 10px 0 5px;" class="languagespecificHTML" id="select_reservation_date">Selecciona una fecha de reserva:</div>
                    <uib-datepicker ng-model="reservation.date" datepicker-options="date_options"></uib-datepicker>
                    <div id="resrvationdatepicker"></div>
                </div>
            </div>
            <div ng-show="reservation.date" id="reservationAvailable" style="padding:auto 20%;text-align-last:center">
                <div style="font-size:125%;padding: 10px 0 5px;" class="languagespecificHTML" id="select_schedule_">Selecciona el horario:</div>
                <table ng-show="reservation.available" class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>Comienzo</b></th>
                            <th><b>Fin</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="timeLimits in reservation.available" ng-click="reservationSummaryOn(timeLimits)" style="background-color:white;" data-toggle="modal" data-target="#alert">
                            <th>{{timeLimits.begin|date:'HH:mm'}} ({{timeLimits.begin|date:'HH:mm':'UT'}} UT)</th>
                            <th>{{timeLimits.end|date:'HH:mm'}} ({{timeLimits.end|date:'HH:mm':'UT'}} UT)</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="reservation.pendingURL == true">
            <div id="pendingReservations" style="padding:auto 20%;text-align-last:center;background-color:white">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b><span class="languagespecificHTML" id="outstanding_reservations">Lista de reservas pendientes</span></b></th>
                        </tr>
                    </thead>
                    <tbody ng-show="reservation.pendingSuccess == true">
                        <tr ng-repeat="pending in reservation.pending" ng-click="pendingSummaryOn(pending)" style="background-color:transparent;" data-toggle="modal" data-target="#alert">
                            <th style="text-align-last:left">
                                Usuario:<span style="float:right">{{pending.user}}</span><br>
                                Experimento:<span style="float:right">{{pending.experiment}}</span><br>
                                Fecha:<span style="float:right">{{pending.timeSlot.begin|date:'dd/MM/yyyy'}}</span><br>
                                Comienzo:<span style="float:right">{{pending.timeSlot.begin|date:'HH:mm'}}H ({{pending.timeSlot.begin|date:'HH:mm':'UT'}}H UT)</span><br>
                                Fin:<span style="float:right">{{pending.timeSlot.end|date:'HH:mm'}}H ({{pending.timeSlot.end|date:'HH:mm':'UT'}}H UT)</span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="loading_reservations" ng-show="reservation.loading == true" style="margin:10px">
            <span id="loader"><img class="animate-loading" ng-src="img/loading.png"></span>
        </div>
        <div class="jumbotron center-position" ng-show="reservation.notavailable == true">
            <h3 class="languagespecificHTML" id="no_schedule_available">No hay horarios disponibles</h3><br>
        </div>
        <div class="jumbotron center-position" ng-if="reservation.pendingSuccess == false">
            <h3 class="languagespecificHTML" id="no_reservations">Actualmente no tiene reservas</h3><br>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div ng-if="hourSelected.begin && hourSelected.end && reservation.makeSuccess == null" class="modal-content">
            <div class="modal-header">
                <h3 class="languagespecificHTML" id="reservation_summary">Resumen de la reserva</h3>
            </div>
            <div class="modal-body" style="font-size:125%">
                <table id="info-table">
                    <tbody>
                        <tr>
                            <td class="languagespecificHTML" id="experiment_">Experimento:</td>
                            <th>{{experimentSelected}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="telescope_">Telescopio:</td>
                            <th>{{telescopeSelected}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="date_">Fecha:</td>
                            <th>{{reservation.date|date:'dd / MM / yyyy'}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="schedule_">Horario:</td>
                            <th><span class="languagespecificHTML" id="from">De</span> {{hourSelected.begin|date:'HH:mm'}} ({{hourSelected.begin|date:'HH:mm':'UT'}} UT)</th>
                        </tr>
                        <tr>
                            <td></td>
                            <th><span class="languagespecificHTML" id="to">a</span> {{hourSelected.end|date:'HH:mm'}} ({{hourSelected.end|date:'HH:mm':'UT'}} UT)</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a type="button" class="luke-button languagespecificHTML" ng-click="makeReservation()" style="float:left;text-transform: uppercase;" id="apply_for">SOLICITAR</a>
                <a type="button" class="luke-button languagespecificHTML" data-dismiss="modal" style="text-transform: uppercase;" id="cancel">CANCELAR</a>
            </div>
        </div>
        <div ng-if="pendingSelected && reservation.cancelSuccess == null" class="modal-content">
            <div class="modal-header">
                <h3 class="languagespecificHTML" id="reservation_details">Detalles de la reserva</h3>
            </div>
            <div class="modal-body" style="font-size:125%">
                <table id="info-table">
                    <tbody>
                        <tr>
                            <td class="languagespecificHTML" id="experiment_">Experimento:</td>
                            <th>{{pendingSelected.experiment}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="telescope_">Telescopio:</td>
                            <th>{{pendingSelected.telescopes[0]}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="reservation_id_">ID Reserva:</td>
                            <th>{{pendingSelected.reservationId}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="date_">Fecha:</td>
                            <th>{{pendingSelected.timeSlot.begin|date:'dd / MM / yyyy'}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="schedule_">Horario:</td>
                            <th><span class="languagespecificHTML" id="from">De</span> {{pendingSelected.timeSlot.begin|date:'HH:mm'}} ({{pendingSelected.timeSlot.begin|date:'HH:mm':'UT'}} UT)</th>
                        </tr>
                        <tr>
                            <td></td>
                            <th><span class="languagespecificHTML" id="to">a</span> {{pendingSelected.timeSlot.end|date:'HH:mm'}} ({{pendingSelected.timeSlot.end|date:'HH:mm':'UT'}} UT)</th>
                        </tr>
                    </tbody>
                </table>
                <hr size='5' width="80%">
                <h3 class="languagespecificHTML" id="actual_state">Estado actual</h3>
                <table id="info-table">
                    <tbody>
                        <tr>
                            <td class="languagespecificHTML" id="mount_">Montura:</td>
                            <th>{{pendingSelected.mount}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="dome_">C&uacute;pula:</td>
                            <th>{{pendingSelected.dome}}</th>
                        </tr>
                        <tr>
                            <td class="languagespecificHTML" id="weather_">Tiempo:</td>
                            <th>{{pendingSelected.weather}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a ng-show="reservation.start == true && reservation.error != true && reservation.waiting == false" type="button" class="luke-button languagespecificHTML" id="start" ng-click="startExperiment()" style="float:left;text-transform: uppercase;">
                    COMENZAR
                </a>
                <a ng-show="reservation.start != true || reservation.error == true" type="button" class="luke-button languagespecificHTML" id="delete" ng-click="cancelReservation()" style="float:left;text-transform: uppercase;">
                    ELIMINAR
                </a>
                <a ng-show="reservation.start == true && reservation.error != true && reservation.waiting == true" type="button" class="luke-button languagespecificHTML" id="loading_" style="float:left">
                    Cargando...
                </a>
                <a type="button" class="luke-button languagespecificHTML" id="return" data-dismiss="modal" style="text-transform: uppercase;">
                    VOLVER
                </a>
            </div>
        </div>
        <div ng-if="reservation.makeSuccess == true" class="modal-content">
            <div class="modal-header">
                <h2 class="languagespecificHTML" id="reservation_completed" style="text-transform: uppercase;">RESERVA COMPLETADA</h2>
            </div>
            <div class="modal-body languagespecificHTML" style="font-size:125%" id="reservation_info_message">
                Puede consultar los detalles de la reserva en la secci&oacute;n 'RESERVAS PENDIENTES'.
            </div>
            <div class="modal-footer">
                <a type="button" class="luke-button languagespecificHTML" ng-click="pendingReservation()" style="float:left;text-transform: uppercase;" id="consult">CONSULTAR</a>
                <a type="button" class="luke-button languagespecificHTML" data-dismiss="modal" style="text-transform: uppercase;" id="return">VOLVER</a>
            </div>
        </div>
        <div ng-if="reservation.makeSuccess == false" class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <h3 class="languagespecificHTML" id="error_reservation_not_completed">Error, reserva no completada</h3>
            </div>
            <div class="modal-footer">
                <a type="button" class="luke-button languagespecificHTML" data-dismiss="modal" style="text-transform: uppercase;" id="accept">ACEPTAR</a>
            </div>
        </div>
        <div ng-if="reservation.cancelSuccess == false" class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <h3 class="languagespecificHTML" id="error_reservation_not_canceled">Error, reserva no cancelada</h3>
            </div>
            <div class="modal-footer">
                <a type="button" class="luke-button languagespecificHTML" data-dismiss="modal" style="text-transform: uppercase;" id="accept">ACEPTAR</a>
            </div>
        </div>
        <div ng-if="reservation.cancelSuccess == true" class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <h3 class="languagespecificHTML" id="reservation_canceled_message">Reserva cancelada correctamente</h3>
            </div>
            <div class="modal-footer">
                <a type="button" class="luke-button languagespecificHTML" data-dismiss="modal" style="text-transform: uppercase;" id="accept">ACEPTAR</a>
            </div>
        </div>
    </div>
</div>
