<div id="principal" data-role="page">
    <div data-role="panel" data-display="push" id="sidebar" data-theme="c" data-position-fixed="true">
        <h4 class=" languagespecificHTML" id="app_name">Cazasteroides</h4>
        <ul data-role="listview" id="sidelistview" class="ui-listview">
            <li data-icon='false'><i class="fa fa-list"></i><a id="sidemenu_new_challenge" data-ajax="false" href="#/cazast-main" class="languagespecificHTML">Nuevo reto</a></li>
            <li data-icon='false'><i class="fa fa-thumbs-up"></i><a id="sidemenu_vote" data-fajax="false" href="#/cazast-vote" class="languagespecificHTML">Vota observaciones</a></li>
            <li data-icon='false'><i class="fa fa-shield"></i><a id="sidemenu_premio" data-ajax="false" href="#/cazast-ranking" class="languagespecificHTML">Premios</a></li>
            <li data-icon='false'><i class="fa fa-user"></i><a id="sidemenu_about" data-ajax="false" href="#/cazast-me" class="languagespecificHTML">Mi cuenta</a></li>
            <li data-icon='false'><i class="fa fa-list-alt"></i><a id="sidemenu_my_detections" data-ajax="false" href="#/cazast-my_detections" class="languagespecificHTML">Mis detecciones</a></li>
            <li data-icon='false'><i class="fa fa-sign-out"></i><a id="sidemenu_exit" data-ajax="false" href="#/cazast-login" class="languagespecificHTML" onclick="logOut()">Salir</a></li>
            <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b languagespecificHTML" id="sidemenu_teleop" >Teleoperacion</li>
            <li data-icon='false'><i class="fa fa-calendar"></i><a data-ajax="false" href="#/reservations" id="sidemenu_teleop_reservations" class="languagespecificHTML">Reservas</a></li>
            <li data-icon='false'><i class="fa fa-picture-o"></i><a data-ajax="false" href="#/images" id="sidemenu_teleop_images" class="languagespecificHTML">Imagenes</a></li>
            <li data-icon='false'><i class="fa fa-user-times"></i><a data-ajax="false" href="#/login" ng-click="login.disconnect()" id="sidemenu_teleop_logout" class="languagespecificHTML">Cerrar Sesion</a></li>
        </ul>
    </div>
    <div data-role="header" data-tap-toggle="false" data-theme='b' class="ui-header ui-header-fixed ui-bar-b">
        <a href='#sidebar' data-role="none" id="a-sidebar"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
        <h1 class="header-title languagespecificHTML" id="teleoperation_title">Teleoperacion</h1>
    </div>
    <div data-role="content" class="ui-content" style="padding:0">
        <div style="height:48px"></div>
        <div class="jumbotron">
            <h3><span class="languagespecificHTML" id="user_">Usuario:</span><span>{{login.screen_name}}</span></h3><br>
        </div>
        <a type="button" class="luke-button languagespecificHTML" style="margin: 0 auto;display: block;max-width: 400px;width:100%;margin-top:2px;text-transform: uppercase;" href="#/images" id="images">IMAGENES</a>
        <a type="button" class="luke-button languagespecificHTML" style="margin: 0 auto;display: block;max-width: 400px;width:100%;margin-top:2px;text-transform: uppercase;" href="#/reservations" id="reservations">RESERVAS</a>
        <a type="button" class="luke-button languagespecificHTML" style="margin: 0 auto;display: block;max-width: 400px;width:100%;margin-top:2px;text-transform: uppercase;" id="tutorials" ng-click="tutorials = true" data-toggle="modal" data-target="#alert" >TUTORIALES</a>
        <a type="button" class="luke-button languagespecificHTML" style="margin: 0 auto;display: block;max-width: 400px;width:100%;margin-top:2px;text-transform: uppercase;" href="#/login" id="logout" ng-click="login.disconnect()" >LOGOUT</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div ng-if="tutorials" class="modal-content" >

            <div class="modal-header">
                <h2 class="languagespecificHTML" id="tutorials">Tutoriales</h2>
            </div>
            <div class="modal-body">
                <h3 class="modal-title" id="night_experiment_">Experimento Nocturno:</h3>
                <iframe class="youtube-player" type="text/html" style="max-width:100%"
                        src="http://www.youtube.com/embed/l8IcB7AD9ws" ng-src="http://www.youtube.com/embed/l8IcB7AD9ws" frameborder="0" allowfullscreen>
                </iframe><br>
                <h3 class="modal-title" id="solar_experiment_">Experimento Solar:</h3>
                <iframe class="youtube-player" type="text/html" style="max-width:100%"
                        src="http://www.youtube.com/embed/kylY8ofpkJ0" ng-src="http://www.youtube.com/embed/kylY8ofpkJ0" frameborder="0" allowfullscreen>
                </iframe><br>
            </div>
        </div>
    </div>
</div>