<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Astronomer Portal Cazasteroides</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
        <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <link href="app.css" rel="stylesheet" />
    </head>
    <body class="jumbotron" >
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Fixed navbar -->
        <nav id="main_menu" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="main_menu_brand" class="navbar-brand" href="#!/"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="main_menu_user_menu" class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#!/login">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container"> 
            <div ng-class="{
                        'alert': flash, 'alert-success': flash.type === 'success', 'alert - danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <div ng-view></div>
        </div> <!-- /container -->

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
        <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

        <script src="app.js"></script>
        <script src="app-services/authentication.service.js"></script>
        <script src="app-services/flash.service.js"></script>
        <script src="app-services/menu.service.js"></script> 
        <script src="app-services/login.server.service.js"></script>
        <script src="app-services/user.server.service.js"></script> 
        <script src="app-services/detection.server.service.js"></script> 
        <script src="app-services/quintet.server.service.js"></script> 
        <script src="app-services/script.server.service.js"></script> 
        <script src="app-services/contest.server.service.js"></script> 
        <script src="app-services/firebase.service.js"></script> 
        <script src="app-services/setup.server.service.js"></script> 
        <script src="app-services/candidate.server.service.js"></script> 

        <script src="home/home.js"></script>
        <script src="login/login.js"></script>
        <script src="detections/detections.js"></script>
        <script src="quintets/quintets.js"></script>
        <script src="astronomers/astronomers.js"></script>
        <script src="quintet/quintet.js"></script>
        <script src="contest/contest.js"></script>
        <script src="setup/setup.js"></script>
        <script src="approved/approved.js"></script>

        <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
        <script>
                            // Initialize Firebase
                            var config = {
                                apiKey: "AIzaSyAYbx9rWNcS1ZBTeGy8mOYeFeP64E217uE",
                                authDomain: "stars4all-5e74f.firebaseapp.com",
                                databaseURL: "https://stars4all-5e74f.firebaseio.com",
                                projectId: "stars4all-5e74f",
                                storageBucket: "stars4all-5e74f.appspot.com",
                                messagingSenderId: "998661949563"
                            };
                            firebase.initializeApp(config);
        </script>
    </body>
</html>