<link href="detections/detections.css" rel="stylesheet">
<h2>Detections</h2>
<form name="myForm" class="form-inline">
    <label>Make a choice:</label>
    <select id="detections_status" 
            ng-model='vm.selectedDetectionStatus' 
            ng-change="vm.changeDetectionStatus()"
            ng-init="vm.selectedDetectionStatus = 'pending'"> 
        <option selected value> -- select Detection status --</option>
        <option ng-repeat="(key, value) in vm.allStatus" value="{{value}}" ng-selected="vm.selectedDetectionStatus === value">{{ value}}</option>
    </select>

    <label for="search">Filter Quintets</label>
    <input type="text" id="search" class="form-control" placeholder="Search" ng-model="search">

    <select id="detections_images" 
            ng-model='vm.selectedDetectionQuintets' 
            ng-change="vm.changeDetectionQuintets()"
            ng-options="option._id as vm.displayQuintet(option) for option in vm.allQuintets| filter: search"> 
        <option selected value> -- select a Quintet --</option>
        <option ng-repeat="x in vm.allQuintets" value="{{x._id}}" ng-selected="vm.selectedDetectionQuintets === x._id">{{x.name}} - {{x.active}} </option>
    </select>

    <select id="detections_min" 
            ng-model='vm.selectedDetectionMin' 
            ng-change="vm.changeDetectionMin()"
            ng-init="vm.selectedDetectionMin = '2'"> 
        <option selected value>-- Reports: more than --</option>
        <option ng-repeat="(key,value) in vm.allMin" value="{{value}}" ng-selected="vm.selectedDetectionMin === value">{{value}}</option>
    </select>


    <!--
    <label class="col-2 col-form-label"> with more than </label>
    <input id="detections_reports"  class="form-control" type="number" min="5" max="999" value="10" style="max-width:75px">
    <label class="col-2 col-form-label">Reports</label>
    -->
</form>
<div id="dectections_total"></div>
<div id="dectections_list"></div>
