
#draggable
{
    width:50px;
    height:50px;
    /*	background-color:#00;*/
    position:absolute;
}

#animation_container
{
    position: relative;
}

#premioslist > div:nth-of-type(odd) {
    background: #e0e0e0;
}

#competitionlist > div:nth-of-type(odd) {
    background: #e0e0e0;
}

/*Logos en Login*/
.login_button{
    margin: 20px;
}
.main-container {
    float: left;
    position: relative;
    left: 50%;
}
.fixer-container {
    float: left;
    position: relative;
    left: -50%;
}
.image-left {
    float: left;
    width: 50%;
}
.image-right {
    float: right;
    width: 50%;
}
.image-left>img,.image-right>img  {
    max-width: 100%;
    height: auto;
    max-height: 100px;
}
.group-images:after {
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 480px) {
    .image-left, .image-right {
        float: none;
        width: auto;
    }
}

@media screen and (max-width: 336px) {
    .login_button {
        margin: 0px;
    }
}
/*FinLogos en Login*/
.main-info {
    width:100%;
    height:61px;
    background:#3d578f;   
    position:relative; 
}
.main-image {
    width:100%;
    height: 100%;
    position:absolute;
}

/*
Sticky Footer
*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x:hidden;
    width:100%;
}

[data-role=page] {
    min-height: 100%;
    position: relative;
}

[data-role=content] {
    padding-bottom: 30px; /* based on how tall your footer is and how much gap you want */
}

[data-role=footer] {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px  /*this can be configurable, or omitted, as long as the above padding-bottom is at least as much as the height of the footer is */
}

.content-login {
    padding-bottom: 150px;
}

.footer-login {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
}
/*
Sticky Footer End
*/
img.vote_img {
    height: 100%;    
    width: 100%;  
    max-width: 250px; 
    max-height: 250px;
    background: transparent url('../images/loading_spinner.gif') no-repeat center ;
    background-size: 100%;
    min-height: 200px;
    min-width: 200px;
}

@media screen and (max-width: 300px) {
    img.vote_img {
        min-height: 90%;
        min-width: 90%;
    }
}


.loading_page {
    border: 6px solid #c5c5c5; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}