/*!
* STYLE.CSS
*
* Main theme file. Contains most of the styles.
*
* Daisy version 1.0
* Since Nightly 3.0
*
*/

/*------------------------------------------------------------------
[Table of contents]

1. Globals and typography
2. jQuery Mobile UI styling
3. Tables
4. Header
5. Sliders
6. Sidebar
7. Blog
8. Footer

-------------------------------------------------------------------*/

/* Globals
-----------------------------------------------------------------------------------------------------------*/

h1, .luke-author h1, .luke-testimonials h4 {
    font-family: 'oswaldbold', Oswald, sans-serif;
    font-weight: normal;
}

h2, h3, h4, h5, #main-slider .item .text h1, .luke-alert p, .luke-list-navigation li a, .panel-navigation li a {
    font-family: 'oswaldregular', Oswald, sans-serif;
    font-weight: normal;
}

.luke-testimonials p, .blog-date, .blog-prologue {
    font-family: 'robotolight', Roboto, sans-serif;
    font-weight: normal;
}

*, #sidebar-searchform .luke-input, #searchform .luke-input, .luke-searchform .luke-input, .luke-author h2, [data-role=header] .header-back-button  {
    font-family: 'robotoregular', Roboto, sans-serif;
    font-weight: normal;
}

strong, [data-role=header] .header-title, .ui-tag, .luke-button, h6, .slider-ecommerce .item .text h2 {
    font-family: 'robotobold', Roboto, sans-serif;
    font-weight: normal;
}

#main-slider .item .text h2, .luke-input, #main-slider .item button, .slider-ecommerce .item .text h1, .slider-ecommerce .item button, [data-role="content"].blog h2 {
    font-family: 'robotoblack', Roboto, sans-serif;
    font-weight: normal;
}

[data-role=panel] h4, .luke-list-navigation .ui-li-divider, .header-info-bar ul li a {
    font-family: 'sourcesansproregular', 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

[data-role=panel] .ui-listview li a, .menu-mark {
    font-family: 'sourcesansprobold', 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

* {
    font-weight: normal;
    text-shadow: none !important;
}

[data-role="content"] p {
    font-size: 18px;
    line-height: 1.5;
}

div[data-role=content] img {
    width: 100%;
}

p, a {
    line-height: 1.66;
    font-weight: normal;
}

a {
    color: #859fff;
}

code, pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: #333;
    color: #c9de7c;
    border-left: 5px solid #383838;
    text-shadow: none !important;
    padding: 8px 6px 8px 5px;
    display: block;
    font-size: 12px;
}

code {
    display: inline-block;
    padding: 3px 5px 3px 2px;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-center {
    text-align: center !important;
}

.align-left-relative {
    text-align: center !important;
}

@media all and (min-width: 801px) {
    .align-left-relative {
        text-align: left !important;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.image-inner {
    width: 75% !important;
    max-width: 270px !important;
    display: block;
    padding: 12px 0;
    text-align: center;
    margin: 0 auto;
}

.fullwidth {
    width: 110% !important;
    width: calc(100% + 32px) !important;
    width: -webkit-calc(100% + 32px) !important;
    margin-left: -16px !important;
}

.image-inner {
    width: 75% !important;
    max-width: 270px !important;
    display: block;
    padding: 12px 0;
    text-align: center;
    margin: 0 auto;
}

.inline {
    display: inline-block !important;
}

button.inline {
    margin-bottom: 4px;
}

.inner {
    width: 90% !important;
    width: calc(100% - 32px) !important;
    width: -webkit-calc(100% - 32px) !important;
    margin-left: 16px !important;
}

h1 {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: -0.05ex;
    margin: 0.65em 0 0.65em 0;
}

h3 {
    font-size: 28px;
    line-height: 1.25;
    text-transform: none;
}

h4 {
    font-size: 20px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h5 {
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 1px;
}

h6 {
    font-size: 10px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1[data-inner=false], h2[data-inner=false], h3[data-inner=false], h4[data-inner=false], h5[data-inner=false], h6[data-inner=false] {
    margin: 0;
    padding: 0;
}

ul li {
    padding: 0.25em 0;
}

.red { color: #dc4949 !important; }
.yellow { color: #ead405 !important; }
.spacegrey { color: #6e6772 !important; }
.blue { color: #454f5c !important; }
.black { color: #323232 !important; }

.hidden {
    visibility: hidden;
}

/* UI styling
-----------------------------------------------------------------------------------------------------------*/

button .fa, a .fa {
    margin-right: 10px;
}

.ui-content[data-inner="false"] {
    padding-top: 0;
    padding-bottom: 0;
}


.owl-controls {
    height: 0;
}

.owl-buttons .fa {
    font-size: 36px;
}

.ui-focus, .ui-btn:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ui-focus[data-theme=a] {
    border: 1px solid #ebce24 !important;
}

.ui-focus[data-theme=b] {
    border: 1px solid #3388cc !important;
}

.ui-focus[data-theme=c] {
    border: 1px solid #343a4a !important;
}

.highlight {
    background: #fff;
    padding: 1px .3em 3px .35em;
}

.ui-popup {
    background: #f8f8f8 !important;
    border: none !important;
}

[data-border="false"] {
    border: none !important;
    outline: none !important;
}

[data-border="true"] {
    border: 1px solid #efe6e6 !important;
}

.ui-tag {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #232323;
    padding: 3px 7px 2px 8px;
    margin: 5px 1px;
    font-size: 12px;
}

.ui-listview {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.ui-li-divider {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.luke-list-navigation[data-divider-theme=d] .ui-li-divider {
    background: rgba(0,0,0,0.05);
}

.luke-bg.bg {
    background-image: url('../assets/bg.jpeg');
    background-size: 100%;
    background-position: top center;
    color: #fff;
}

.luke-bg.bg2 {
    background-image: url('../assets/bg2.jpg');
    background-size: 100%;
    background-position: top center;
    color: #fff;
}

.luke-bg.bg3 {
    background-image: url('../assets/bg3.jpg');
    background-size: 100%;
    background-position: top center;
    color: #fff;
}

.luke-bg.bg4 {
    background-image: url('../assets/bg4.jpg');
    background-size: 100%;
    background-position: top center;
    color: #fff;
}

.luke-bg.bgec1 {
    background-image: url('../assets/ecommerce/bgec1.jpg');
    background-size: 100%;
    background-position: top center;
    color: #fff;
}

.luke-bg.bgec2 {
    background-image: url('../assets/ecommerce/bgec2.jpg');
    background-size: 120%;
    background-position: center;
    color: #fff;
}

.luke-bg.bgec3 {
    background-image: url('../assets/ecommerce/bgec3.jpg');
    background-size: 100%;
    background-position: center;
    color: #fff;
}

.luke-bg.bgec4 {
    background-image: url('../assets/ecommerce/bgec4.jpg');
    background-size: 100%;
    background-position: center;
    color: #fff;
}

.ui-table {
    border: 1px solid #b6b9be !important;
}

.ui-table thead {
    background: #4563a0 !important;
    color: #fff !important;
    font-weight: 300 !important;
}

.ui-table th {
    font-weight: 300 !important;
    text-align: center;
}

.ui-table tr {
    border: 1px solid #b6b9be !important;
}

.ui-table td {
    border: 1px solid #b6b9be !important;
    text-align: center;
}

table[data-role=pricing-table] {
    background: #f6eeee;
    border: none;
    width: 100%;
    max-width: 520px;
    display: inline-block;
    color: #574f50;
    margin: 0 auto;
}

table[data-role=pricing-table] tbody th {
    padding: 12px;
    line-height: 1.66;
}

table[data-role=pricing-table] tr:nth-child(odd) {
    background-color: #f8f8f8;
}

table[data-role=pricing-table] thead th {
    font-size: 18px;
    padding: 10px 0;
    background: #f6eeee !important;
}

table[data-role=pricing-table] .pricing-table-price {
    background: #ebce24 !important;
    color: #ffffff;
    font-size: 48px;
}

table[data-role=pricing-table] .pricing-table-price-b {
    background: #3388cc !important;
}

table[data-role=pricing-table] .pricing-table-pt {
    color: #ffffff;
    font-size: 12px;
    display: block;
    line-height: 12px;
    margin-top: -12px;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 15px;
    width: 100%;
}

progress::-webkit-progress-bar {
    border: none;
    background: #e8e8e8;
}

progress::-webkit-progress-value {
    background: #454d59;
}



progress::-moz-progress-bar {
    border: none;
    background: #e8e8e8;
}

progress::-moz-progress-value {
    background: #454d59;
}

progress[data-theme=a]::-webkit-progress-value {
    background: #181b22;
}

progress[data-theme=a]::-moz-progress-value {
    background: #181b22;
}

progress[data-theme=b]::-webkit-progress-value {
    background: #445ba1;
}

progress[data-theme=b]::-moz-progress-value {
    background: #445ba1;
}

progress[data-theme=c]::-webkit-progress-value {
    background: #343a4a;
}

progress[data-theme=c]::-moz-progress-value {
    background: #343a4a;
}

progress[data-theme=d]::-webkit-progress-value {
    background: #aaa;
}

progress[data-theme=d]::-moz-progress-value {
    background: #aaa;
}

progress[data-theme=e]::-webkit-progress-value {
    background: #eacd24;
}

progress[data-theme=e]::-moz-progress-value {
    background: #eacd24;
}

[data-border="false"] {
    border: none !important;
    outline: none !important;
}

[data-border="true"] {
    border: 1px solid #999 !important;
}

.ui-title {
    padding-top: 1em;
}

[data-inner=true] {
    padding: 0 16px;
    width: 95%;
    width: calc(100% - 32px);
    width: -webkit-calc(100% - 32px);
}

/* Animations
-----------------------------------------------------------------------------------------------------------*/

/* .animate-flipover {
        -webkit-perspective: 7000px;
        perspective: 7000px;
} */

.animate-flipover .ui-panel {
    width: 100%;
}

.animate-flipover .ui-panel, .animate-flipover .ui-panel-wrapper, .ui-footer {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -o-backface-visibility:      hidden;
    backface-visibility:         hidden;
}

.animate-flipover .ui-panel-animate {
    -webkit-transition-duration: 500ms;
    -moz-transition-duration:    500ms;
    -ms-transition-duration:     500ms;
    -o-transition-duration:      500ms;
    transition-duration:         500ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function:    ease-out;
    -ms-transition-timing-function:     ease-out;
    -o-transition-timing-function:      ease-out;
    transition-timing-function:         ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform:    translate3d(0, 0, 0);
    -ms-transform:     translate3d(0, 0, 0);
    -o-transform:      translate3d(0, 0, 0);
    transform:         translate3d(0, 0, 0);
}

.animate-flipover .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    -webkit-transition-duration: 500ms;
    -moz-transition-duration:    500ms;
    -ms-transition-duration:     500ms;
    -o-transition-duration:      500ms;
    transition-duration:         500ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function:    ease-out;
    -ms-transition-timing-function:     ease-out;
    -o-transition-timing-function:      ease-out;
    transition-timing-function:         ease-out;
    -webkit-transform: rotateY(180deg);
    -moz-transform:    rotateY(180deg);
    -ms-transform:     rotateY(180deg);
    -o-transform:      rotateY(180deg);
    transform:         rotateY(180deg);
}

.animate-flipover .ui-panel-animate.ui-panel-open.ui-panel-position-right.ui-panel-display-push {
    z-index: 999999;
    -webkit-transform: rotateY(0deg);
    -moz-transform:    rotateY(0deg);
    -ms-transform:     rotateY(0deg);
    -o-transform:      rotateY(0deg);
    transform:         rotateY(0deg);
}

.animate-flipover .ui-panel-animate.ui-panel-page-content-position-right {
    -webkit-transform: rotateY(-180deg);
    -moz-transform:    rotateY(-180deg);
    -ms-transform:     rotateY(-180deg);
    -o-transform:      rotateY(-180deg);
    transform:         rotateY(-180deg);
}

.animate-flipover .ui-footer[data-position=fixed].ui-panel-page-content-display-push, .animate-flipover .header-info-bar[data-position=fixed].ui-panel-page-content-display-push {
    display: none;
}

/* Header
-----------------------------------------------------------------------------------------------------------*/

[data-role=header] {
    padding: 0;
    width: 100%;
    height: 48px;
    border: none;
}

[data-role=header][data-theme=d] {
    border-bottom: 1px solid #ccc;
}

[data-role=header][data-border=false] {
    border: none !important;
}

[data-role=header] #header-menu-icon {
    display: inline-block;
    position: absolute;
    width: 25px;
    left: 6px;
    top: 14px;
}

[data-role=header] #header-menu-icon[data-position=right] {
    left: auto;
    right: 6px;
}
[data-role=header] #nuevo_reto {
    display: inline-block;
    position: absolute;
    color: white;
    left: 34px;
    top: 13px;
    background-color: #a7b5c3;
    padding: 2px 3px;
    border-radius: 4px;
}
[data-role=header] #star-search {
    display: inline-block;
    position: absolute;
    color: white;
    width: 90px;
    right: 6px;
    top: 13px;
    background-color: #a7b5c3;
    padding: 2px 3px;
    border-radius: 4px;
}
#star-search, #star-search:hover, #star-search:active, #star-search:visited {
    text-decoration:none;
}
[data-role=header] #header-search-icon {
    display: inline;
    /*    position: absolute;
        width: 66px;
        right: 6px;
        top: 13px;*/
}

[data-role=header] a.icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 14px;
    color: #fff;
    padding: 16px 6px 8px 18px;
}

[data-role=header] a.icon:hover {
    color: #fff;
}

[data-role=header][data-theme=d] a.icon .fa {
    color: #232323;
}

[data-role=header] a.icon[data-position=right] {
    left: auto;
    right: 0px !important;
}

[data-role=header] a.icon .fa {
    font-size: 20px;
}

[data-role=header] #a-search {
    width: 36px;
    height: 36px;
}

[data-role=header] .header-title {
    margin: 0 auto;
    padding: 15px 0 10px 0;
    font-size: 14pt;
    text-align: center;
    max-width: 220px;
    text-transform: capitalize;
}

@media screen and (max-width: 320px) {
    [data-role=header] .header-title {
        text-align: left;
        text-overflow: ellipsis;
    }
}


[data-role=header] .header-back-button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #fff !important;
    padding-top: 5px;
}

[data-role=header] .header-back-button .fa {
    margin-right: 7px;
    font-size: 30px;
    vertical-align: middle;
    margin-top: -4px;
}

a.header-icon-close {
    display: inline-block;
    color: #fff;
    padding: 8px 4px 14px 24px;
    margin-right: -4px;
}

a.header-icon-close:hover {
    color: #fff;
}

.header-icon-close .fa {
    color: #fff;
    font-size: 20px;
}

[data-role=panel][data-theme=d] .header-icon-close .fa {
    color: #444;
}

#searchform
{
    -webkit-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -moz-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -ms-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -o-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
    transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);

    -webkit-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -moz-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -ms-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -o-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    z-index: -99999999;
    height: 0;
    width: 100%;
    border: none;
    margin: 0 auto;
    text-align: center;
    background: #fff;
}

#searchform .luke-input::-webkit-input-placeholder {
    color: #9a9a9a;
}

#searchform .luke-input:-moz-placeholder {
    color: #9a9a9a;
}
#searchform .luke-input:-ms-input-placeholder {
    color: #9a9a9a;
}

#searchform .luke-input {
    width: 90% !important;
    width: calc(100% - 54px) !important;
    width: -webkit-calc(100% - 54px) !important;
    background: #e0e0e0;
    display: inline-block;
    margin: 9px;
    border: none !important;
    letter-spacing: normal;
    text-transform: none;
    color: #9a9a9a;
    padding: 6px 24px 5px 8px !important;
    height: 20px !important;
    font-size: 14px;
}

#searchform .luke-button {
    display: inline-block !important;
    background: none;
    margin-top: 2px !important;
    background-image: url('../images/search-icon-bk.png');
    background-size: 15px;
    background-repeat: no-repeat;
    border: none !important;
    position: absolute;
    margin-left: -43px;
    background-position: center;
    opacity: 0.35;
}

#searchform .luke-button:hover {
    opacity: 1;
}

#searchform.moved
{
    height: 48px;
    z-index: 1;
}

#searchform[data-position=fixed].moved
{
    height: 56px;
    z-index: 999999999;
    position: fixed;
    top: 46px;
}

.header-info-bar {
    height: 25px;
}

.header-info-bar ul {
    height: 25px;
    margin: 0;
}

.header-info-bar ul li {
    margin-top: 0px;
    text-align: center;
}

.header-info-bar ul li a {
    padding: 0;
    text-decoration: none;
    color: #323232 !important;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-top: -1px;
}

.header-info-bar .fa {
    font-size: 14px;
    margin: 0 auto;
    padding: 6px 4px 0 0;
}

/* Sliders
-----------------------------------------------------------------------------------------------------------*/

#main-slider, .slider-ecommerce {
    width: 110% !important;
    width: calc(100% + 32px) !important;
    width: -webkit-calc(100% + 32px) !important;
    margin: -16px auto 0 -16px;
}

#main-slider .item, .slider-ecommerce .item {
    padding: 0;
    width: 100% !important;
    text-align: center;
}

#main-slider .item img, .slider-ecommerce .item img {
    display: block;
    width: 100% !important;
    height: auto;
}

#main-slider .item a, .slider-ecommerce .item a {
    text-decoration: none;
}

#main-slider .item .text, .slider-ecommerce .item .text {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 100%;
    text-align: center;
    left: 0;
    color: #fff;
    line-height: 1;
}

#main-slider .item .text h1, .slider-ecommerce .item .text h1 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 18%;
    letter-spacing: -0.05ex;
}

.slider-ecommerce .item .text h1 {
    margin-top: 20%;
}

#main-slider .item .text h2 {
    font-size: 18px;
    display: inline-block;
    top: 0;
    width: 100%;
    text-align: center;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.25ex;
    line-height: 1.25;
    max-width: 80%;
}

.slider-ecommerce .item .text h2 {
    font-size: 18px;
    display: inline-block;
    top: 0;
    width: 100%;
    text-align: center;
    left: 0;
    color: #fff;
    line-height: 1.25;
    max-width: 80%;
    text-transform: none;
    margin-bottom: 24px;
}

#main-slider .item button, .slider-ecommerce .item button {
    border: 3px solid #fff !important;
    color: #fff !important;
    font-size: 18px;
    margin-top: 8px;
    display: block;
    margin: 0 auto;
    padding: 4px 12px 4px 14px;
}

@media all and (min-width: 480px) and (max-width: 800px) {
    #main-slider .item .text h1 {
        font-size: 72px;
        margin-bottom: 10px;
        margin-top: 20%;
    }
    .slider-ecommerce .item .text h1 {
        font-size: 72px;
        margin-bottom: 10px;
        margin-top: 20%;
    }
    #main-slider .item .text h2 {
        font-size: 24px;
        margin-bottom: 30px;
        letter-spacing: 0.5ex;
    }
    .slider-ecommerce .item .text h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    #main-slider .item button, .slider-ecommerce .item button {
        border: 5px solid #fff !important;
        color: #fff;
        font-size: 24px;
        margin-top: 8px;
        display: block;
        margin: 0 auto;
        padding: 10px 18px 8px 20px;
    }
}

@media all and (min-width: 801px) {
    .slider-ecommerce .item .text h1 {
        font-size: 84px;
        margin-bottom: 30px;
        margin-top: 33%;
    }
    #main-slider .item .text h1 {
        font-size: 84px;
        margin-bottom: 30px;
        margin-top: 23%;
    }
    #main-slider .item .text h2 {
        font-size: 30px;
        margin-bottom: 50px;
        letter-spacing: 0.5ex;
    }
    .slider-ecommerce .item .text h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    #main-slider .item button, .slider-ecommerce .item button {
        border: 5px solid #fff !important;
        color: #fff;
        font-size: 24px;
        margin-top: 8px;
        display: block;
        margin: 0 auto;
        padding: 10px 18px 8px 20px;
    }
}

.slider-ecommerce h1 {

}

/* Panels
-----------------------------------------------------------------------------------------------------------*/

[data-role=panel]{
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

[data-role=panel][data-theme=a]{
    background: #181b22;
    border-right: 1px solid #181b22;
    color: #fff;
}

[data-role=panel][data-theme=b]{
    background: #445ba1;
    border-right: 1px solid #445ba1;
    color: #fff;
}

[data-role=panel][data-theme=c]{
    background: #343a4a;
    border-right: 1px solid #343a4a;
    color: #fff;
}

[data-role=panel][data-theme=d]{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

[data-role=panel][data-theme=e]{
    background: #eacd24;
    border-right: 1px solid #eacd24;
    color: #fff;
}

[data-role=panel] .ui-listview {
    margin-bottom: 1em !important;
}

[data-role=panel] .ui-listview li {
    background: none;
    border: none;
    text-shadow: none;
    margin: 1px 0;
    position: relative;
}

[data-role=panel] .ui-listview li .fa {
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 23px;
    font-size: 22px;
    color: rgba(255,255,255,0.65);
}

[data-role=panel] .ui-listview li a {
    color: #fff !important;
    position: relative;
    background: none !important;
    font-size: 12pt;
    line-height: 1.25;
    border-top: none !important;
    border-bottom: 1px solid rgba(255,255,255,0.25) !important;
    margin: 4px 16px 0 48px;
    padding: 8px 16px;
}

[data-role=panel] .ui-listview li a:after {
    content: '';
    opacity: 0.35;
    background-image: url('../images/angle2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    right: -13px;
    top: 5px;
}

.ui-listview[data-arrow=false] li a:after {
    display: none;
}

ul[data-arrow=false] li a:after {
    display: none;
}

[data-role=panel] .ui-listview li.menu-item-has-children a:after {
    background-image: url('../images/angle4.png');
    right: -10px;
    top: 6px;
}

[data-role=panel] .ui-listview li.menu-item-has-children ul li a:after {
    background-image: url('../images/angle2.png');
    right: -13px;
    top: 5px;
}

[data-role=panel] .ui-listview li ul {
    margin-bottom: 0 !important;
}

[data-role=panel] .ui-listview li ul li a {
    margin: 4px 16px 0 64px;
}

[data-role=panel] .ui-listview li ul li .fa {
    margin-left: 14px;
}

[data-role=panel][data-theme=d] .ui-listview li .fa {
    color: rgba(0,0,0,0.5) !important;
}

[data-role=panel][data-theme=d] .ui-listview li a {
    color: #333 !important;
    border-bottom: 1px solid rgba(0,0,0,0.15) !important;
}

[data-role=panel][data-theme=d] h4{
    color: #333 !important;
}

[data-role=panel][data-theme=d] .ui-listview li a:after {
    background-image: url('../images/angle2-bk.png');
}

[data-role=panel][data-position=right] .menu-mark {
    top: 8px;
}

[data-role=panel] h4 {
    width: 100%;
    width: calc(100% + 2px) !important;
    width: -webkit-calc(100% + 2px) !important;
    margin: 0 -16px;
    padding: 12px 16px 10px 16px;
    background: rgba(0, 0, 0, 0.1);
    display: block;
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 12px;
}

#sidebar-searchform
{
    border: none;
    margin: 0 auto;
    width: 110% !important;
    width: calc(100% + 33px) !important;
    width: -webkit-calc(100% + 33px) !important;
    margin: -16px auto 0 -16px;
    background: #fff;
    height: 48px;
}

#sidebar-searchform .luke-input {
    width: 90% !important;
    width: calc(100% - 54px) !important;
    width: -webkit-calc(100% - 54px) !important;
    background: #e0e0e0;
    display: inline-block;
    margin: 9px;
    border: none !important;
    letter-spacing: normal;
    text-transform: none;
    color: #9a9a9a;
    padding: 6px 28px 5px 8px !important;
    height: 20px !important;
    font-size: 14px;
}

#sidebar-searchform .luke-input::-webkit-input-placeholder {
    color: #9a9a9a;
}
#sidebar-searchform .luke-input:-moz-placeholder {
    color: #9a9a9a;
}
#sidebar-searchform .luke-input:-ms-input-placeholder {
    color: #9a9a9a;
}

#sidebar-searchform .luke-button{
    display: inline-block !important;
    background: none;
    position: relative;
    top: 9px;
    background-image: url('../images/search-icon-bk.png');
    background-size: 15px;
    background-repeat: no-repeat;
    border: none !important;
    position: absolute;
    margin-left: -38px;
    background-position: center;
    opacity: 0.35;
    width: 30px;
    height: 32px;
    padding: 8px;
}

[data-role=panel] .panel-navigation {
    text-align: center;
    padding: 0;
    margin-top: 24px;
}

[data-role=panel] .panel-navigation li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

[data-role=panel] .panel-navigation li a {
    text-decoration: none;
    display: block;
    font-size: 24px;
    letter-spacing: -0.5px;
    margin: 4px 0;
    line-height: 1.25;
    text-transform: uppercase;
}

[data-role=panel][data-theme=d] .panel-navigation li a, .panel-navigation li a {
    color: #323232;
}

[data-role=panel] .panel-share {
    text-align: center;
    padding: 0;
    width: 100%;
    margin-top: 2em;
}

[data-role=panel] .panel-share li {
    margin: 0 2px;
    display: inline-block;
}

[data-role=panel] .panel-share li a {
    color: #323232;
}

/* Blog
-----------------------------------------------------------------------------------------------------------*/

[data-role="content"].blog {
    padding-top: 0;
    padding-bottom: 0;
}

[data-role="content"].blog img {
    margin: 0 0 14px 0;
}

[data-role="content"].blog .item {
    text-align: center;
    max-width: 960px;
    margin: 0 auto 60px auto;
}

[data-role="content"].blog h2 {
    font-size: 48px;
    line-height: 1.25;
    text-transform: none !important;
    font-weight: bold;
    margin: 14px 0;
    color: #3a3334 !important;
    letter-spacing: -1px;
}

[data-role="content"].blog a {
    color: #7a67c0;
    text-decoration: none;
}

.blog-date {
    font-size: 14px !important;
    display: block;
    margin-top: -12px;
}

.blog-date a {
    text-decoration: underline !important;
    color: #aaa !important;
}

.blog-date a:hover {
    text-decoration: none !important;
}

.blog-prologue, .prologue {
    font-size: 24px !important;
    color: #323232;
    margin: 0.75em 0 1em 0;
}

[data-role="content"].blog p {
    margin-bottom: 18px;
}

@media all and (max-width: 800px) {
    [data-role="content"].blog .item {
        margin: 0 0px 48px 0px;
        text-align: left;
    }
    [data-role="content"].blog h2 {
        font-size: 48px;
    }
    .blog-date {
        font-size: 16px;
    }
}

@media all and (min-width: 801px) {
    [data-role="content"].blog {
        padding-top: 72px;
    }
    [data-role="content"].blog .item {
        max-width: 752px;
        text-align: center;
    }
}

/* Works
-----------------------------------------------------------------------------------------------------------*/

.works-carousel {
    margin-bottom: -5px !important;
}

.works-carousel .item div {
    padding: 0 0 30px 0;
}

/* Footer
-----------------------------------------------------------------------------------------------------------*/

.ui-footer {
    width: 100%;
}

.ui-footer[data-inner=true] {
    padding: 0 16px;
    width: calc(100% - 32px);
    width: -webkit-calc(100% - 32px);
    margin: 0 auto;
}

.ui-footer[data-border=true] {
    border-top: 1px solid #ddd !important;
}

.ui-footer [data-role=navbar] ul li a {
    padding: 8px 0;
}

.ui-footer[data-border=false], .ui-footer[data-border=false] [data-role=navbar] ul li a, [data-role=navbar][data-border=false] ul li a {
    border: none !important;
}

.ui-footer [data-role=navbar] .fa {
    font-size: 20px;
    display: inline-block;
    margin: 0 auto;
}

[data-role=navbar][data-icons=true] .fa {
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    padding: 0 2px 1px 2px;
}

[data-role=navbar].fullwidth {
    padding: 0 16px;
}
