<body>
<div style="width:595px;">
<img alt="header" src="http://cazasteroides.org/images/logo.png"/>

<p>Hola <%= username %></p>

<p>La nueva contraseña es:</p>
<p><%= password %></p>

<p>Saludos,</p>
<p>Atentamente, el equipo de Cazasteroides</p>
</div>
</body>
