<body>
<div style="width:595px;">
<img alt="header" src="http://cazasteroides.org/images/logo.png"/>

<p>Hi <%= username %></p>

<p>We have uploaded new quintets where you can search for new asteroids.</p>

<p>Best regards,</p>
<p>Cazasteroides team</p>
</div>
</body>
