<p>Quintets</p>
<form name="myForm" class="form-inline">
    <label>Make a choice:</label>
    <select id="quintet_telescopes" 
            ng-model='vm.selectedStatus' 
            ng-change="vm.changeStatus()"
            ng-init="vm.selectedStatus = vm.allStatuses[0]"> 
        <option selected value> -- select State --</option>
        <option ng-repeat="(key, value) in vm.allStatuses" value="{{value}}" ng-selected="vm.selectedStatus === value">{{value}}</option>
    </select>
</form>
<div id="quintet_info"></div>