<link href="approved/approved.css" rel="stylesheet">

<ul class="nav nav-tabs" style="margin-top:5px">
    <li class="active" ><a data-toggle="tab" class="tablinks" ng-click="openTab('unknown')">Candidates</a></li>
    <li  ><a data-toggle="tab" class="tablinks" ng-click="openTab('known')">Known</a></li>
    <li  ><a data-toggle="tab" class="tablinks" ng-click="openTab('unknownIncomplete')">Not completed</a></li>

</ul>
<div id="unknown" class="tabcontent" style="display: block;">
    <h4 id="unknown_total"></h4>
    <div id="unknown_list"/>
</div>

<div id="known" class="tabcontent" style="display: none;" >
    <h4 id="known_total" ></h4>
    <div id="known_list"/>
</div>

<div id="unknownIncomplete" class="tabcontent" style="display: none;">
    <h4 id="unknownIncomplete_total"></h4>
    <div id="unknownIncomplete_list"/>
</div>
