<body>
<div style="width:595px;">
<img alt="header" src="http://cazasteroides.org/images/logo.png"/>

<p>Hola <%= username %></p>

<p>Hemos subido nuevos quintetos donde puedes buscar nuevos asteroides.</p>

<p>Saludos,</p>
<p>Atentamente, el equipo de Cazasteroides</p>
</div>
</body>
