<link href="astronomers/astronomers.css" rel="stylesheet">
<h2>Astronomers</h2>
<form name="myForm">
    <label>Choose a User:</label>
    <select  id="astronometer_select" 
             ng-model='vm.selectedAstronomer' 
             ng-change="vm.changeAstronomer()"> 
        <option selected value> -- select a Astronomer --</option>
        <option ng-repeat="x in vm.allUsers" value="{{x}}" style="background-color: {{x.color}};" ng-selected="vm.selectedAstronomer === x._id">{{x.username}} - Astronomer[ {{x.admin}} ] - SuperAdmin[ {{x.superAdmin}} ] </option>
    </select>
</form>
<div id="astronomer_info"></div>