<div  class="thumbnail col-xs-8" style="margin-top:20px;">
    <a class="btn btn-primary btn-large btn-block" role="button"
       data-ng-click="refreshOption()">Reload
    </a>
    <a class="btn btn-primary btn-large btn-block" role="button"
       data-ng-click="addOption()">Add
    </a>
    <div style="margin:10px;" ng-repeat="option in optionArray">
        <label>Key</label>
        <input type="text" ng-model="option.key" style="min-width:300px"/>

        <label>Value</label>
        <input type="text" ng-model="option.value" />
    </div>

    <a style="margin-top:30px;" class="btn btn-primary btn-large btn-block" role="button"
       data-ng-click="updateOption()">Update
    </a>
</div>