<body>
<div style="width:595px;">
<img alt="header" src="http://cazasteroides.org/images/logo.png"/>

<p>Hi <%= username %></p>

<p>Your new password is:</p>
<p><%= password %></p>

<p>Best regards,</p>
<p>Cazasteroides team</p>
</div>
</body>
