extends layout

block content
  h1= title
  p Welcome to #{title}
      
    - if (typeof (moreEffectiveDetections) !== 'undefined'){
        #moreEffectiveDetections
            h4 Effective Detections
            - each user in moreEffectiveDetections
              div.moreEffectiveDetections
                p #{user.username}  #{user.info}
    -}
    
    - if (typeof (moreDetections) !== 'undefined'){
        #moreDetections
            h4 Detections
            - each user in moreDetections
              div.moreDetections
                p #{user.username}  #{user.info}
                //div.username= user.username
               // div.detections= user.detections
    -}

    - if (typeof (moreEffectiveVotes) !== 'undefined'){
        #moreEffectiveVotes
            h4 Effective Votes
            - each user in moreEffectiveVotes
              div.moreEffectiveVotes
                p #{user.username}  #{user.info}
                //div.username= user.username
                //div.info= user.info
    -}
    
    - if (typeof (moreVotes) !== 'undefined'){
        #moreVotes
            h4 Votes
            - each user in moreVotes
              div.moreVotes
                p #{user.username}  #{user.info}
                //div.username= user.username
                //div.votes= user.votes
    -}
   

